@use "sass:map";

@use "../variables";

$vars: (
  gap: (
    xxs: 6px,
    xs: 8px,
    sm: 12px,
    default: 16px,
    lg: 24px,
    xl: 32px,
    xxl: 40px,
    0: 0,
    auto: "auto"
  ),
  font-size: (
    lg: 30px,
    default: 24px,
    sm: 20px,
    h1: 60px,
    h2: 48px,
    h3: 36px,
    h4: 30px,
    h5: 24px,
    h6: 20px,
  ),
  sidebar: (
    width: 480px
  ),
  topbar: (
    height: 62px
  ),
  //font-family: "'Pretendard Variable', sans-serif",
  //background-color: var(--theme-grey-lighter),
  animation-duration: .3s,
  elevation-size: 8px,

  border-radius: (
    xs: var(--gap-xs),
    sm: var(--gap-sm),
    default: var(--gap-default),
    lg: var(--gap-lg),
    xl: var(--gap-xl),
    xxl: var(--gap-xxl)
  ),
)