@use "sass:map";

@use "../variables";

$vars: map.merge(variables.$vars, (
  gap: (
    xxs: 2px,
    xs: 3px,
    sm: 5px,
    default: 7px,
    lg: 9px,
    xl: 13px,
    xxl: 19px,
    0: 0,
    auto: "auto"
  ),
  font-size: (
    lg: 16px,
    default: 14px,
    sm: 12px,
    h1: 32px,
    h2: 24px,
    h3: 18px,
    h4: 16px,
    h5: 14px,
    h6: 12px,
  ),
  line-height: 1.5em,
  line-height-strip-unit: 1.5,
  topbar: (
    height: 3em
  ),
  animation-duration: .2s,
  font-family: "'Pretendard Variable', sans-serif",
))