$vars: map-merge($vars, (
  gap: (
    xxs: 2px,
    xs: 4px,
    sm: 6px,
    default: 8px,
    lg: 12px,
    xl: 18px,
    xxl: 24px,
    0: 0,
    auto: "auto"
  ),
  font-size: (
    lg: 16px,
    default: 14px,
    sm: 12px,
    h1: 32px,
    h2: 24px,
    h3: 18px,
    h4: 16px,
    h5: 14px,
    h6: 12px,
  ),
  sidebar: (
    width: 14em
  ),
  topbar: (
    height: 48px
  ),
  font-family: "'Noto Sans KR', sans-serif",
  sheet: (
    pv: var(--gap-xs),
    ph: var(--gap-sm),
    bg: var(--color-grey-100)
  )
))