sd-topbar-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 36px;
}

sd-topbar {
  display: block;
  position: absolute;
  z-index: $z-index-topbar;
  top: 0;
  left: 0;
  width: 100%;
  height: 36px;
  line-height: 35px;
  background: theme-color(primary, default);
  color: text-color(reverse, default);

  > * {
    float: left;
    line-height: 35px;
  }

  > a {
    min-width: 36px;
    text-align: center;
    margin-right: gap(sm);
    color: text-color(reverse, dark);

    &:hover,
    &:focus {
      color: text-color(reverse, default);
    }
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    padding-right: gap(default);
  }
}

sd-topbar-menu {
  display: block;
  padding: 0 gap(default);
  cursor: pointer;
  transition: .1s linear;
  transition-property: background, color;
  user-select: none;
  color: text-color(reverse, dark);
  float: left;

  &:hover {
    background: trans-color(dark);
    color: text-color(reverse, default);
  }

  &:active {
    transition: none;
    background: trans-color(darker);
    color: text-color(reverse, default);
  }

  @media #{$screen-mobile} {
    float: right;
  }
}