@import "../styles/presets";

:host > label {
  @include form-control-base();
  cursor: pointer;
  position: relative;

  > ._rect {
    position: absolute;
    display: block;
    width: $line-height;
    height: $line-height;
    border: 1px solid trans-color(default);
    background: trans-color(default);
  }

  > ._indicator {
    opacity: 0;
  }

  > ._content {
    display: inline-block;
    text-indent: gap(xs);
  }
}