@import "../styles/presets";

:host {
  > label {
    display: block;
    padding: gap(sm) gap(default);
    cursor: pointer;

    > sd-icon {
      float: right;
    }

    &:hover {
      background: trans-color(dark);
    }
  }

  &[sd-header=true] > label {
    cursor: default;
    background: transparent;
    padding: gap(xs) gap(default);
    color: text-color(darker);
  }

  > div {
    overflow: hidden;
  }
}