@import "../styles/presets";

:host {
  display: block;
  height: 15px;

  > a {
    display: inline-block;
    padding: 0 gap(xs);

    &[sd-selected=true] {
      text-decoration: underline;
    }
  }
}