@import "./presets";

:root {
  @include initialize("-", $root);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color-default);
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  line-height: var(--line-height);
}

pre, code {
  font-size: var(--font-size-default);
  line-height: var(--line-height);
  margin: 0;
}

pre {
  font-family: var(--font-family);
}

code {
  font-family: var(--font-family-code);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height);
  margin: 0;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-size: var(--font-size-h#{$i});
  }
}

a {
  cursor: pointer;
  color: var(--theme-primary-default);

  &:focus {
    outline-color: transparent;
  }

  &:hover,
  &:focus {
    color: var(--theme-primary-dark);
  }

  &._disabled {
    pointer-events: none;
    color: var(--theme-grey-light);
  }
}


hr {
  background: var(--trans-color-default);
  border: none;
  height: 1px;
}

*[hidden] {
  display: none !important;
}
