*,
*:after,
*:before {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--theme-primary-default);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--bg-color);
  color: var(--text-color-default);
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  line-height: var(--line-height);
}

pre, code {
  font-size: var(--font-size-default);
  line-height: var(--line-height);
  margin: 0;
}

pre {
  font-family: var(--font-family);
}

code {
  font-family: var(--font-family-monospace);
}

h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height);
  margin: 0;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

a {
  cursor: pointer;
  color: var(--theme-primary-default);

  &:focus {
    outline-color: transparent;
  }

  &:hover,
  &:focus {
    color: var(--theme-primary-dark);
  }

  &._disabled {
    pointer-events: none;
    color: var(--theme-grey-light);
  }
}

hr {
  background: var(--trans-color-default);
  border: none;
  height: 1px;
  margin: 0;
}

*[hidden] {
  display: none !important;
}


@each $color in $arr-theme-color {
  @each $brightness in $arr-theme-brightness {
    .sd-background-#{$color}-#{$brightness} {
      background: var(--theme-#{$color}-#{$brightness}) !important;
    }
  }
}

@each $brightness in $arr-trans-brightness {
  .sd-background-trans-#{$brightness} {
    background: var(--trans-color-#{$brightness});
  }
}

.sd-background-white {
  background: white !important;
}

.sd-background-default {
  background: var(--bg-color) !important;
}

@each $size in $arr-font-size {
  .sd-font-size-#{$size} {
    font-size: var(--font-size-#{$size}) !important;
  }
}

@each $color in $arr-text-brightness {
  .sd-text-color-#{$color} {
    color: var(--text-color-#{$color}) !important;
  }
}


@each $color in $arr-text-reverse-brightness {
  .sd-text-reverse-color-#{$color} {
    color: var(--text-reverse-color-#{$color}) !important;
  }
}

@each $color in $arr-theme-color {
  @each $brightness in $arr-theme-brightness {
    .sd-text-color-#{$color}-#{$brightness} {
      color: var(--theme-#{$color}-#{$brightness}) !important;
    }
  }
}

@each $direction in $arr-direction {
  @each $color in $arr-theme-color {
    @each $brightness in $arr-theme-brightness {
      .sd-border-#{$direction}-#{$color}-#{$brightness} {
        border-#{$direction}: 1px solid var(--theme-#{$color}-#{$brightness});
      }
    }
  }

  @each $brightness in $arr-trans-brightness {
    .sd-border-#{$direction}-#{$brightness} {
      border-#{$direction}: 1px solid var(--trans-color-#{$brightness});
    }
  }

  .sd-border-#{$direction}-none {
    border-#{$direction}: none !important;
  }
}

@each $color in $arr-theme-color {
  @each $brightness in $arr-theme-brightness {
    .sd-border-#{$color}-#{$brightness} {
      border: 1px solid var(--theme-#{$color}-#{$brightness});
    }
  }
}

@each $brightness in $arr-trans-brightness {
  .sd-border-#{$brightness} {
    border: 1px solid var(--trans-color-#{$brightness});
  }
}

.sd-border-none {
  border: none !important;
}

@each $gap in $arr-gap {
  .sd-padding-#{$gap} {
    padding: var(--gap-#{$gap});
  }

  .sd-margin-#{$gap} {
    margin: var(--gap-#{$gap});
  }

  @each $direction in top, right, bottom, left {
    .sd-padding-#{$direction}-#{$gap} {
      padding-#{$direction}: var(--gap-#{$gap});
    }

    .sd-margin-#{$direction}-#{$gap} {
      margin-#{$direction}: var(--gap-#{$gap});
    }
  }

  @each $gap1 in $arr-gap {
    .sd-padding-#{$gap}-#{$gap1} {
      padding: var(--gap-#{$gap}) var(--gap-#{$gap1});
    }

    .sd-margin-#{$gap}-#{$gap1} {
      margin: var(--gap-#{$gap}) var(--gap-#{$gap1});
    }
  }
}

@each $gap in $arr-gap {
  .sd-padding-v-#{$gap} {
    padding-top: var(--gap-#{$gap});
    padding-bottom: var(--gap-#{$gap});
  }

  .sd-padding-h-#{$gap} {
    padding-left: var(--gap-#{$gap});
    padding-right: var(--gap-#{$gap});
  }

  .sd-margin-v-#{$gap} {
    margin-top: var(--gap-#{$gap});
    margin-bottom: var(--gap-#{$gap});
  }

  .sd-margin-h-#{$gap} {
    margin-left: var(--gap-#{$gap});
    margin-right: var(--gap-#{$gap});
  }
}

@each $direction in left, right, center {
  .sd-text-align-#{$direction} {
    text-align: $direction;
  }
}
