$arr-theme-color: (grey, bluegrey, primary, secondary, info, success, warning);
$arr-theme-brightness: (lightest, lighter, light, default, dark, darker, darkest);
$arr-trans-brightness: (darkest, darker, dark, default, light, lighter);
$arr-font-size: (lg, default, sm, h1, h2, h3, h4, h5, h6);
$arr-text-brightness: (dark, default, light, lighter);
$arr-text-reverse-brightness: (default, dark, darker);
$arr-direction: (top, right, bottom, left);
$arr-gap: (0, xxs, xs, sm, default, lg, xl, xxl);
