$arr-theme-color: ("grey", "blue-grey", "primary", "secondary", "info", "success", "warning", "danger");
$arr-theme-brightness: (lightest, lighter, light, default, dark, darker, darkest);

$arr-trans-brightness: (darkest, darker, dark, default, light, lighter);
$arr-trans-brightness-rev: (default, light, lighter, lightest);

$arr-text-brightness: (dark, default, light, lighter, lightest);
$arr-text-brightness-rev: (default, dark, darker);

$arr-font-size: (lg, default, sm, h1, h2, h3, h4, h5, h6);

$arr-gap: (0, xxs, xs, sm, default, lg, xl, xxl);

$arr-direction: (top, right, bottom, left);
