.idea
!.idea/*.iml
!.idea/vcs.xml
!.idea/webResources.xml
!.idea/inspectionProfiles/profiles_settings.xml

.yarn

_logs
node_modules
packages/*/.cache
packages/*/.cordova
packages/*/.electron
packages/*/dist

signCert.der
signPri.key