.idea/dictionaries
.idea/workspace.xml
.idea/queries
.idea/data_source_mapping.xml

.yarn
.tmp

_logs
node_modules
packages/*/.cache
packages/*/.cordova
packages/*/.electron
packages/*/dist
*.~*
~*.*

signCert.der
signPri.key
