@function get($map, $keys...) {
  @each $key in $keys {
    @if (map_has_key($map, $key) != true) {
      @error "Map `#{$map}` has no key `#{$key}`";
    }

    $map: map_get($map, $key);
  }
  @return $map;
}

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
