@mixin form-control-base() {
  display: block;
  width: 100%;
  font-size: get($font-size, default);
  font-family: $font-family;
  line-height: $line-height;
  color: get($text-color, default);
  padding: get($gap, sm) get($gap, default);

  border: 1px solid transparent;
  user-select: none;
}

@mixin elevation($value) {
  @if $value == none or $value == 0 {
    box-shadow: none;
  } @else {
    box-shadow: 0 0 1px rgba(0, 0, 0, .1), 0 #{$value/2}px #{$value + 1}px rgba(0, 0, 0, .2);
  }
}

@mixin invalid-indicator() {
  display: block;
  position: absolute;
  top: get($gap, xxs);
  left: get($gap, xxs);
  border-radius: 100%;
  width: 4px;
  height: 4px;
  background: get($theme-color, danger, default);
}
