$bg-color: get($theme-color, grey, lightest) !default;

$topbar-height: 42px !default;

$sidebar-width: 200px !default;

$sheet-padding-v: get($gap, xs) !default;
$sheet-padding-h: get($gap, sm) !default;
$sheet-edit-cell-bg: get($theme-color, secondary, lightest) !default;
