@function get($map, $keys...) {
  @each $key in $keys {
    $map: map_get($map, $key);
  }
  @return $map;
}

@function gap($key) {
  @return get($gap, $key);
}

@function text-color($key1, $key2: "") {
  @if $key2 == "" {
    @return get($text-color, $key1);
  }

  @return get($text-color, $key1, $key2);
}

@function trans-color($key) {
  @return get($trans-color, $key);
}

@function theme-color($key1, $key2) {
  @return get($theme-color, $key1, $key2);
}

@function font-size($key) {
  @return get($font-size, $key);
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}