@mixin form-control-base() {
  font-size: get($font-size, md);
  font-family: $font-family;
  line-height: $line-height;
  color: get($text-color, default);
}

@mixin elevation($value) {
  box-shadow: 0 0 #{$value/2}px get($trans-color, default), 0 #{$value/2}px #{$value}px get($trans-color, dark);
}
