@mixin form-control-base() {
  display: block;
  width: 100%;
  font-size: get($font-size, default);
  font-family: $font-family;
  line-height: $line-height;
  color: get($text-color, default);
  padding: get($gap, sm) get($gap, default);

  border: 1px solid transparent;
  user-select: none;
}

@mixin elevation($value) {
  box-shadow: 0 #{$value}px #{$value + 1}px rgba(0, 0, 0, .1);
}
