$theme-color-pallet: (
  grey: $color-grey,
  blue-grey: $color-blue-grey,
  primary: $color-deep-purple,
  secondary: $color-yellow,
  info: $color-blue,
  success: $color-green,
  warning: $color-orange,
  danger: $color-red
) !default;

$trans-color: (
  darker: rgba(0, 0, 0, .3),
  dark: rgba(0, 0, 0, .2),
  default: rgba(0, 0, 0, .1),
  light: rgba(255, 255, 255, .1),
  lighter: rgba(255, 255, 255, .2)
) !default;

$text-color: (
  dark: black,
  default: rgba(0, 0, 0, .87),
  light: rgba(0, 0, 0, .60),
  lighter: rgba(0, 0, 0, .38)
) !default;

$text-reverse-color: (
  default: white,
  dark: rgba(255, 255, 255, .7)
) !default;

$gap: (
  xxs: 4px,
  xs: 6px,
  sm: 8px,
  md: 12px,
  lg: 14px,
  xl: 16px,
  xxl: 20px
) !default;

$font-size: (
  lg: 17px,
  md: 15px,
  sm: 13px,
  h1: 27px,
  h2: 21px,
  h3: 19px,
  h4: 17px,
  h5: 15px,
  h6: 13px
) !default;

$font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid Sans', sans-serif !default;
$font-family-monospace: 'D2 coding', monospace !default;
$line-height: 1.25em !default;
