$bg-color: get($theme-color, grey, lightest) !default;

$topbar-bg: get($theme-color, bluegrey, darkest) !default;
$topbar-link-color: get($theme-color, secondary, default) !default;
$topbar-height: 42px;

$sidebar-width: 240px;

$sheet-padding-v: get($gap, xs);
$sheet-padding-h: get($gap, sm);
$sheet-edit-cell-bg: get($theme-color, secondary, lightest);
