@each $key, $val in map_merge($gap, (0: 0)) {
  .sd-m-#{$key} {
    margin: $val;
  }

  .sd-m-v-#{$key} {
    margin-top: $val;
    margin-bottom: $val;
  }

  .sd-m-h-#{$key} {
    margin-left: $val;
    margin-right: $val;
  }

  .sd-mt-#{$key} {
    margin-top: $val;
  }

  .sd-mr-#{$key} {
    margin-right: $val;
  }

  .sd-ml-#{$key} {
    margin-left: $val;
  }

  .sd-mb-#{$key} {
    margin-bottom: $val;
  }

  .sd-p-#{$key} {
    padding: $val;
  }

  .sd-p-v-#{$key} {
    padding-top: $val;
    padding-bottom: $val;
  }

  .sd-p-h-#{$key} {
    padding-left: $val;
    padding-right: $val;
  }

  .sd-pt-#{$key} {
    padding-top: $val;
  }

  .sd-pr-#{$key} {
    padding-right: $val;
  }

  .sd-pl-#{$key} {
    padding-left: $val;
  }

  .sd-pb-#{$key} {
    padding-bottom: $val;
  }

  @each $key1, $val1 in map_merge($gap, (0: 0)) {
    .sd-m-#{$key}-#{$key1} {
      margin: $val $val1;
    }

    .sd-p-#{$key}-#{$key1} {
      padding: $val $val1;
    }
  }
}

@each $key, $val in $trans-color {
  .sd-b-#{$key} {
    border: 1px solid $val;
  }
  .sd-bt-#{$key} {
    border-top: 1px solid $val;
  }
  .sd-br-#{$key} {
    border-right: 1px solid $val;
  }
  .sd-bb-#{$key} {
    border-bottom: 1px solid $val;
  }
  .sd-bl-#{$key} {
    border-left: 1px solid $val;
  }
}

@each $key, $val in $theme-color {
  @each $key1, $val1 in $val {
    .sd-bg-#{$key}-#{$key1} {
      background: $val1;
    }
  }
}

@each $key, $val in $text-reverse-color {
  .sd-tc-r-#{$key} {
    color: $val
  }
}
