@keyframes card-in {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animate-card-in {
  animation: card-in 0.3s ease-out forwards;
}
