@use "sass:map";
@use "sass:color";

$colors: (
  red: color.to-space(oklch(0.704 0.191 22.216), rgb),
  orange: color.to-space(oklch(0.75 0.183 55.934), rgb),
  amber: color.to-space(oklch(0.828 0.189 84.429), rgb),
  yellow: color.to-space(oklch(0.852 0.199 91.936), rgb),
  lime: color.to-space(oklch(0.841 0.238 128.85), rgb),
  green: color.to-space(oklch(0.792 0.209 151.711), rgb),
  emerald: color.to-space(oklch(0.765 0.177 163.223), rgb),
  teal: color.to-space(oklch(0.777 0.152 181.912), rgb),
  cyan: color.to-space(oklch(0.789 0.154 211.53), rgb),
  sky: color.to-space(oklch(0.746 0.16 232.661), rgb),
  blue: color.to-space(oklch(0.707 0.165 254.624), rgb),
  indigo: color.to-space(oklch(0.673 0.182 276.935), rgb),
  violet: color.to-space(oklch(0.702 0.183 293.541), rgb),
  purple: color.to-space(oklch(0.714 0.203 305.504), rgb),
  fuchsia: color.to-space(oklch(0.74 0.238 322.16), rgb),
  pink: color.to-space(oklch(0.718 0.202 349.761), rgb),
  rose: color.to-space(oklch(0.712 0.194 13.428), rgb),
  slate: color.to-space(oklch(0.704 0.04 256.788), rgb),
  gray: color.to-space(oklch(0.707 0.022 261.325), rgb),
  zinc: color.to-space(oklch(0.705 0.015 286.067), rgb),
  neutral: color.to-space(oklch(0.708 0 0), rgb),
  stone: color.to-space(oklch(0.709 0.01 56.259), rgb),
);

@function color-map($base) {
  @return (
    lightest: color.mix(white, $base, 90%),
    lighter: color.mix(white, $base, 75%),
    light: color.mix(white, $base, 60%),
    default: $base,
    dark: color.mix(black, $base, 10%),
    darker: color.mix(black, $base, 25%),
    darkest: color.mix(black, $base, 40%)
  );
}

$vars: (
  theme: (
    "gray": color-map(map.get($colors, gray)),
    blue-gray: color-map(map.get($colors, slate)),
    primary: color-map(map.get($colors, blue)),
    secondary: color-map(map.get($colors, blue)),
    info: color-map(map.get($colors, cyan)),
    success: color-map(map.get($colors, lime)),
    warning: color-map(map.get($colors, orange)),
    danger: color-map(map.get($colors, red)),
  ),
  trans: (
    darkest: rgba(0, 0, 0, 0.5),
    darker: rgba(0, 0, 0, 0.4),
    dark: rgba(0, 0, 0, 0.3),
    default: rgba(0, 0, 0, 0.2),
    light: rgba(0, 0, 0, 0.1),
    lighter: rgba(0, 0, 0, 0.05),
    lightest: rgba(0, 0, 0, 0.03),
    rev-default: rgba(255, 255, 255, 0.1),
    rev-light: rgba(255, 255, 255, 0.2),
    rev-lighter: rgba(255, 255, 255, 0.3),
    rev-lightest: rgba(255, 255, 255, 0.4),
  ),
  text-trans: (
    dark: black,
    default: rgba(0, 0, 0, 0.87),
    light: rgba(0, 0, 0, 0.6),
    lighter: rgba(0, 0, 0, 0.38),
    lightest: rgba(0, 0, 0, 0.2),
    rev-default: white,
    rev-dark: rgba(255, 255, 255, 0.7),
    rev-darker: rgba(255, 255, 255, 0.5),
  ),
  font-size: (
    lg: 14px,
    default: 12px,
    sm: 11px,
    h1: 24px,
    h2: 18px,
    h3: 16px,
    h4: 14px,
    h5: 12px,
    h6: 11px,
  ),
  gap: (
    xxs: 1px,
    xs: 2px,
    sm: 4px,
    default: 6px,
    lg: 8px,
    xl: 12px,
    xxl: 18px,
    0: 0,
    auto: "auto",
  ),
  border-color: (
    lighter: var(--theme-gray-lightest),
    light: var(--theme-gray-lighter),
    default: var(--theme-gray-light),
    dark: var(--theme-gray-default),
    darker: var(--theme-gray-dark),
  ),
  border-radius: (
    xs: var(--gap-xxs),
    sm: var(--gap-xs),
    default: var(--gap-sm),
    lg: var(--gap-default),
    xl: var(--gap-lg),
    xxl: var(--gap-xl),
  ),
  z-index: (
    toast: 9999,
    busy: 9998,
    dropdown: 5000,
    modal: 4000,
    sidebar: 3000,
  ),
  line-height: 1.5em,
  line-height-strip-unit: 1.5,
  font-family: sans-serif,
  //font-family: "'Pretendard Variable', 'Noto Sans KR', sans-serif",
  font-family-monospace: monospace,
  background-color: white,
  //var(--theme-gray-lightest),
  background-rev-color: black,
  control-color: white,
  animation-duration: 0.2s,
  elevation-size: 1px,
  sidebar: (
    width: 15em,
  ),
  topbar: (
    height: 3em,
  ),
  sheet: (
    pv: var(--gap-xs),
    ph: var(--gap-sm),
    bg: var(--theme-gray-lightest),
  ),
);
