@import "./mixins";

:root {
  --background-color: white;
  --border-color: var(--theme-color-grey-lighter);

  --font-size-lg: 18px;
  --font-size-default: 16px;
  --font-size-sm: 14px;
  --font-size-h1: 48px;
  --font-size-h2: 32px;
  --font-size-h3: 24px;
  --font-size-h4: 18px;
  --font-size-h5: 16px;
  --font-size-h6: 14px;

  --gap-xxs: 4px;
  --gap-xs: 6px;
  --gap-sm: 8px;
  --gap-default: 14px;
  --gap-lg: 18px;
  --gap-xl: 24px;
  --gap-xxl: 32px;

  --sd-sidebar-width: 240px;
  --sd-topbar-height-sm: 42px;
  --sd-topbar-height: 48px;
  --sd-topbar-height-lg: 52px;

  --font-family: 'Droid Sans', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', '맑은 고딕', 'Malgun Gothic', 'Microsoft NeoGothic', sans-serif;

  --mobile-animation-duration: 0.3s;

  --text-brightness-rev-default: rgba(255, 255, 255, .7);
  --text-brightness-rev-dark: rgba(255, 255, 255, .5);
  --text-brightness-rev-darker: rgba(255, 255, 255, .3);
}

.sdm-active-effect {
  @include mobile-active-effect(true);
}

.sdm-card-header {
  margin-bottom: var(--gap-sm);
  padding-bottom: var(--gap-sm);
  border-bottom: 1px solid var(--border-color);
}