sd-table {
  display: block;
  width: auto;
  overflow: auto;

  > table {
    background: white;
    border-collapse: collapse;

    > * > * > * {
      border-right: 1px solid get($theme-color, grey, light);
      padding: get($gap, xs) get($gap, sm);
    }

    > * > * {
      border-bottom: 1px solid get($theme-color, grey, light);
    }

    > thead {
      background: get($theme-color, grey, lightest);
      border-bottom: 2px solid get($theme-color, grey, light);
    }
  }
}
