$paper: (
  theme: (
    "gray": (
      lightest: var(--color-zinc-50),
      lighter: var(--color-zinc-100),
      light: var(--color-zinc-300),
      default: var(--color-zinc-500),
      dark: var(--color-zinc-600),
      darker: var(--color-zinc-700),
      darkest: var(--color-zinc-800),
    ),
    blue-gray: (
      lightest: var(--color-slate-50),
      lighter: var(--color-slate-100),
      light: var(--color-slate-300),
      default: var(--color-slate-500),
      dark: var(--color-slate-600),
      darker: var(--color-slate-700),
      darkest: var(--color-slate-800),
    ),
    primary: (
      lightest: var(--color-blue-100),
      lighter: var(--color-blue-300),
      light: var(--color-blue-500),
      default: var(--color-blue-900),
      dark: var(--color-blue-950),
      darker: var(--color-blue-950),
      darkest: var(--color-blue-950),
    ),
    secondary: (
      lightest: var(--color-blue-50),
      lighter: var(--color-blue-100),
      light: var(--color-blue-300),
      default: var(--color-blue-500),
      dark: var(--color-blue-600),
      darker: var(--color-blue-700),
      darkest: var(--color-blue-800),
    ),
    info: (
      lightest: var(--color-cyan-50),
      lighter: var(--color-cyan-100),
      light: var(--color-cyan-300),
      default: var(--color-cyan-500),
      dark: var(--color-cyan-600),
      darker: var(--color-cyan-700),
      darkest: var(--color-cyan-800),
    ),
    success: (
      lightest: var(--color-green-50),
      lighter: var(--color-green-100),
      light: var(--color-green-300),
      default: var(--color-green-500),
      dark: var(--color-green-600),
      darker: var(--color-green-700),
      darkest: var(--color-green-800),
    ),
    warning: (
      lightest: var(--color-orange-100),
      lighter: var(--color-orange-200),
      light: var(--color-orange-300),
      default: var(--color-orange-400),
      dark: var(--color-orange-600),
      darker: var(--color-orange-700),
      darkest: var(--color-orange-800),
    ),
    danger: (
      lightest: var(--color-red-50),
      lighter: var(--color-red-100),
      light: var(--color-red-200),
      default: var(--color-red-400),
      dark: var(--color-red-600),
      darker: var(--color-red-700),
      darkest: var(--color-red-800),
    ),
  ),
  background-color: var(--theme-gray-lightest),
  control-color: white,
  border-radius: (
    xs: 0,
    sm: 0,
    default: 0,
    lg: 0,
    xl: 0,
    xxl: 0,
  ),
  elevation-blur-mult: 0,
  sheet: (
    bg: var(--theme-gray-lightest),
  ),
  border-color: (
    lightest: var(--color-zinc-100),
    lighter: var(--color-zinc-200),
    light: var(--color-zinc-300),
    default: var(--color-zinc-500),
    dark: var(--color-zinc-600),
    darker: var(--color-zinc-700),
    darkest: var(--color-zinc-800),
  ),
);
