@use "sass:map";
@use "sass:color";
@use "../commons/colors";

$vars: (
  theme: (
    "gray": colors.variants-dark(colors.get(gray)),
    blue-gray: colors.variants-dark(colors.get(slate)),
    primary: colors.variants-dark(colors.get(blue)),
    secondary: colors.variants-dark(colors.get(blue)),
    info: colors.variants-dark(colors.get(cyan)),
    success: colors.variants-dark(colors.get(lime)),
    warning: colors.variants-dark(colors.get(orange)),
    danger: colors.variants-dark(colors.get(red)),
  ),
  trans: (
    darkest: rgba(255, 255, 255, 0.5),
    darker: rgba(255, 255, 255, 0.4),
    dark: rgba(255, 255, 255, 0.3),
    default: rgba(255, 255, 255, 0.2),
    light: rgba(255, 255, 255, 0.1),
    lighter: rgba(255, 255, 255, 0.03),
    lightest: rgba(255, 255, 255, 0.05),
    rev-default: rgba(0, 0, 0, 0.1),
    rev-light: rgba(0, 0, 0, 0.2),
    rev-lighter: rgba(0, 0, 0, 0.3),
    rev-lightest: rgba(0, 0, 0, 0.4),
  ),
  text-trans: (
    dark: white,
    default: rgba(255, 255, 255, 0.87),
    light: rgba(255, 255, 255, 0.6),
    lighter: rgba(255, 255, 255, 0.38),
    lightest: rgba(255, 255, 255, 0.2),
    rev-default: black,
    rev-dark: rgba(0, 0, 0, 0.7),
    rev-darker: rgba(0, 0, 0, 0.5),
  ),
  border-color: (
    lighter: var(--theme-gray-lightest),
    light: var(--theme-gray-lighter),
    default: var(--theme-gray-light),
    dark: var(--theme-gray-default),
    darker: var(--theme-gray-dark),
  ),
  background-color: #000,
  background-rev-color: #fff,
  control-color: #000,
  busy-overlay-bg: rgba(0, 0, 0, 0.6),
  sheet: (
    bg: var(--theme-gray-lightest),
  ),
);
