sd-button {
  display: block;
  position: relative;

  & > button {
    @include form-control-base();

    font-weight: bold;
    background: white;
    cursor: pointer;
    color: get($theme-color, primary, default);
    border-radius: 3px;
    //border-color: get($theme-color, primary, default);

    &:hover {
      background: get($theme-color, grey, lightest);
    }

    &:focus {
      outline-color: transparent;
      background: get($theme-color, grey, lightest);
    }

    &:active {
      background: get($theme-color, grey, lighter);
    }

    &:disabled {
      background: transparent;
      cursor: default;
      color: get($text-color, default);
    }
  }

  @each $key, $val in $theme-color {
    &[sd-theme=#{$key}] > button {
      background: get($val, default);
      border-color: get($val, default);
      color: get($text-reverse-color, default);

      &:hover,
      &:focus {
        background: get($val, dark);
        border-color: get($val, dark);
      }

      &:active {
        background: get($val, darker);
        border-color: get($val, darker);
      }

      &:disabled {
        background: get($theme-color, grey, default);
        border-color: get($theme-color, grey, default);
        cursor: default;
      }
    }
  }

  &[sd-size=sm] > button {
    padding: get($gap, xs) get($gap, sm);
  }

  &[sd-size=lg] > button {
    padding: get($gap, default) get($gap, lg);
  }

  &[sd-inline=true] {
    display: inline-block;

    > button {
      width: 100%;
    }
  }

  &[sd-invalid=true] > ._invalid-indicator {
    @include invalid-indicator();
  }

  &[sd-inset=true] {
    > button {
      border: none !important;
      box-shadow: none !important;
      border-radius: 0;
      color: get($theme-color, primary, default);

      &:hover {
        background: get($theme-color, grey, lightest);
      }

      &:active {
        background: get($theme-color, grey, lighter);
      }

      &:disabled {
        background: transparent;
      }
    }

    @each $key, $val in $theme-color {
      &[sd-theme=#{$key}] > button {
        background: get($val, default);

        &:hover {
          background: get($val, dark);
        }

        &:active {
          background: get($val, darker);
        }

        &:disabled {
          background: get($theme-color, grey, default);
        }
      }
    }
  }
}
