@charset "UTF-8";
:root {
  ---color-red-50: #ffebee;
  ---color-red-100: #ffcdd2;
  ---color-red-200: #ef9a9a;
  ---color-red-300: #e57373;
  ---color-red-400: #ef5350;
  ---color-red-500: #f44336;
  ---color-red-600: #e53935;
  ---color-red-700: #d32f2f;
  ---color-red-800: #c62828;
  ---color-red-900: #b71c1c;
  ---color-red-A100: #ff8a80;
  ---color-red-A200: #ff5252;
  ---color-red-A400: #ff1744;
  ---color-red-A700: #d50000;
  ---color-pink-50: #fce4ec;
  ---color-pink-100: #f8bbd0;
  ---color-pink-200: #f48fb1;
  ---color-pink-300: #f06292;
  ---color-pink-400: #ec407a;
  ---color-pink-500: #e91e63;
  ---color-pink-600: #d81b60;
  ---color-pink-700: #c2185b;
  ---color-pink-800: #ad1457;
  ---color-pink-900: #880e4f;
  ---color-pink-A100: #ff80ab;
  ---color-pink-A200: #ff4081;
  ---color-pink-A400: #f50057;
  ---color-pink-A700: #c51162;
  ---color-purple-50: #f3e5f5;
  ---color-purple-100: #e1bee7;
  ---color-purple-200: #ce93d8;
  ---color-purple-300: #ba68c8;
  ---color-purple-400: #ab47bc;
  ---color-purple-500: #9c27b0;
  ---color-purple-600: #8e24aa;
  ---color-purple-700: #7b1fa2;
  ---color-purple-800: #6a1b9a;
  ---color-purple-900: #4a148c;
  ---color-purple-A100: #ea80fc;
  ---color-purple-A200: #e040fb;
  ---color-purple-A400: #d500f9;
  ---color-purple-A700: #aa00ff;
  ---color-deep-purple-50: #ede7f6;
  ---color-deep-purple-100: #d1c4e9;
  ---color-deep-purple-200: #b39ddb;
  ---color-deep-purple-300: #9575cd;
  ---color-deep-purple-400: #7e57c2;
  ---color-deep-purple-500: #673ab7;
  ---color-deep-purple-600: #5e35b1;
  ---color-deep-purple-700: #512da8;
  ---color-deep-purple-800: #4527a0;
  ---color-deep-purple-900: #311b92;
  ---color-deep-purple-A100: #b388ff;
  ---color-deep-purple-A200: #7c4dff;
  ---color-deep-purple-A400: #651fff;
  ---color-deep-purple-A700: #6200ea;
  ---color-indigo-50: #e8eaf6;
  ---color-indigo-100: #c5cae9;
  ---color-indigo-200: #9fa8da;
  ---color-indigo-300: #7986cb;
  ---color-indigo-400: #5c6bc0;
  ---color-indigo-500: #3f51b5;
  ---color-indigo-600: #3949ab;
  ---color-indigo-700: #303f9f;
  ---color-indigo-800: #283593;
  ---color-indigo-900: #1a237e;
  ---color-indigo-A100: #8c9eff;
  ---color-indigo-A200: #536dfe;
  ---color-indigo-A400: #3d5afe;
  ---color-indigo-A700: #304ffe;
  ---color-blue-50: #e3f2fd;
  ---color-blue-100: #bbdefb;
  ---color-blue-200: #90caf9;
  ---color-blue-300: #64b5f6;
  ---color-blue-400: #42a5f5;
  ---color-blue-500: #2196f3;
  ---color-blue-600: #1e88e5;
  ---color-blue-700: #1976d2;
  ---color-blue-800: #1565c0;
  ---color-blue-900: #0d47a1;
  ---color-blue-A100: #82b1ff;
  ---color-blue-A200: #448aff;
  ---color-blue-A400: #2979ff;
  ---color-blue-A700: #2962ff;
  ---color-light-blue-50: #e1f5fe;
  ---color-light-blue-100: #b3e5fc;
  ---color-light-blue-200: #81d4fa;
  ---color-light-blue-300: #4fc3f7;
  ---color-light-blue-400: #29b6f6;
  ---color-light-blue-500: #03a9f4;
  ---color-light-blue-600: #039be5;
  ---color-light-blue-700: #0288d1;
  ---color-light-blue-800: #0277bd;
  ---color-light-blue-900: #01579b;
  ---color-light-blue-A100: #80d8ff;
  ---color-light-blue-A200: #40c4ff;
  ---color-light-blue-A400: #00b0ff;
  ---color-light-blue-A700: #0091ea;
  ---color-cyan-50: #e0f7fa;
  ---color-cyan-100: #b2ebf2;
  ---color-cyan-200: #80deea;
  ---color-cyan-300: #4dd0e1;
  ---color-cyan-400: #26c6da;
  ---color-cyan-500: #00bcd4;
  ---color-cyan-600: #00acc1;
  ---color-cyan-700: #0097a7;
  ---color-cyan-800: #00838f;
  ---color-cyan-900: #006064;
  ---color-cyan-A100: #84ffff;
  ---color-cyan-A200: #18ffff;
  ---color-cyan-A400: #00e5ff;
  ---color-cyan-A700: #00b8d4;
  ---color-teal-50: #e0f2f1;
  ---color-teal-100: #b2dfdb;
  ---color-teal-200: #80cbc4;
  ---color-teal-300: #4db6ac;
  ---color-teal-400: #26a69a;
  ---color-teal-500: #009688;
  ---color-teal-600: #00897b;
  ---color-teal-700: #00796b;
  ---color-teal-800: #00695c;
  ---color-teal-900: #004d40;
  ---color-teal-A100: #a7ffeb;
  ---color-teal-A200: #64ffda;
  ---color-teal-A400: #1de9b6;
  ---color-teal-A700: #00bfa5;
  ---color-green-50: #e8f5e9;
  ---color-green-100: #c8e6c9;
  ---color-green-200: #a5d6a7;
  ---color-green-300: #81c784;
  ---color-green-400: #66bb6a;
  ---color-green-500: #4caf50;
  ---color-green-600: #43a047;
  ---color-green-700: #388e3c;
  ---color-green-800: #2e7d32;
  ---color-green-900: #1b5e20;
  ---color-green-A100: #b9f6ca;
  ---color-green-A200: #69f0ae;
  ---color-green-A400: #00e676;
  ---color-green-A700: #00c853;
  ---color-light-green-50: #f1f8e9;
  ---color-light-green-100: #dcedc8;
  ---color-light-green-200: #c5e1a5;
  ---color-light-green-300: #aed581;
  ---color-light-green-400: #9ccc65;
  ---color-light-green-500: #8bc34a;
  ---color-light-green-600: #7cb342;
  ---color-light-green-700: #689f38;
  ---color-light-green-800: #558b2f;
  ---color-light-green-900: #33691e;
  ---color-light-green-A100: #ccff90;
  ---color-light-green-A200: #b2ff59;
  ---color-light-green-A400: #76ff03;
  ---color-light-green-A700: #64dd17;
  ---color-lime-50: #f9fbe7;
  ---color-lime-100: #f0f4c3;
  ---color-lime-200: #e6ee9c;
  ---color-lime-300: #dce775;
  ---color-lime-400: #d4e157;
  ---color-lime-500: #cddc39;
  ---color-lime-600: #c0ca33;
  ---color-lime-700: #afb42b;
  ---color-lime-800: #9e9d24;
  ---color-lime-900: #827717;
  ---color-lime-A100: #f4ff81;
  ---color-lime-A200: #eeff41;
  ---color-lime-A400: #c6ff00;
  ---color-lime-A700: #aeea00;
  ---color-yellow-50: #fffde7;
  ---color-yellow-100: #fff9c4;
  ---color-yellow-200: #fff59d;
  ---color-yellow-300: #fff176;
  ---color-yellow-400: #ffee58;
  ---color-yellow-500: #ffeb3b;
  ---color-yellow-600: #fdd835;
  ---color-yellow-700: #fbc02d;
  ---color-yellow-800: #f9a825;
  ---color-yellow-900: #f57f17;
  ---color-yellow-A100: #ffff8d;
  ---color-yellow-A200: #ffff00;
  ---color-yellow-A400: #ffea00;
  ---color-yellow-A700: #ffd600;
  ---color-amber-50: #fff8e1;
  ---color-amber-100: #ffecb3;
  ---color-amber-200: #ffe082;
  ---color-amber-300: #ffd54f;
  ---color-amber-400: #ffca28;
  ---color-amber-500: #ffc107;
  ---color-amber-600: #ffb300;
  ---color-amber-700: #ffa000;
  ---color-amber-800: #ff8f00;
  ---color-amber-900: #ff6f00;
  ---color-amber-A100: #ffe57f;
  ---color-amber-A200: #ffd740;
  ---color-amber-A400: #ffc400;
  ---color-amber-A700: #ffab00;
  ---color-orange-50: #fff3e0;
  ---color-orange-100: #ffe0b2;
  ---color-orange-200: #ffcc80;
  ---color-orange-300: #ffb74d;
  ---color-orange-400: #ffa726;
  ---color-orange-500: #ff9800;
  ---color-orange-600: #fb8c00;
  ---color-orange-700: #f57c00;
  ---color-orange-800: #ef6c00;
  ---color-orange-900: #e65100;
  ---color-orange-A100: #ffd180;
  ---color-orange-A200: #ffab40;
  ---color-orange-A400: #ff9100;
  ---color-orange-A700: #ff6d00;
  ---color-deep-orange-50: #fbe9e7;
  ---color-deep-orange-100: #ffccbc;
  ---color-deep-orange-200: #ffab91;
  ---color-deep-orange-300: #ff8a65;
  ---color-deep-orange-400: #ff7043;
  ---color-deep-orange-500: #ff5722;
  ---color-deep-orange-600: #f4511e;
  ---color-deep-orange-700: #e64a19;
  ---color-deep-orange-800: #d84315;
  ---color-deep-orange-900: #bf360c;
  ---color-deep-orange-A100: #ff9e80;
  ---color-deep-orange-A200: #ff6e40;
  ---color-deep-orange-A400: #ff3d00;
  ---color-deep-orange-A700: #dd2c00;
  ---color-brown-50: #efebe9;
  ---color-brown-100: #d7ccc8;
  ---color-brown-200: #bcaaa4;
  ---color-brown-300: #a1887f;
  ---color-brown-400: #8d6e63;
  ---color-brown-500: #795548;
  ---color-brown-600: #6d4c41;
  ---color-brown-700: #5d4037;
  ---color-brown-800: #4e342e;
  ---color-brown-900: #3e2723;
  ---color-grey-50: #fafafa;
  ---color-grey-100: #f5f5f5;
  ---color-grey-200: #eeeeee;
  ---color-grey-300: #e0e0e0;
  ---color-grey-400: #bdbdbd;
  ---color-grey-500: #9e9e9e;
  ---color-grey-600: #757575;
  ---color-grey-700: #616161;
  ---color-grey-800: #424242;
  ---color-grey-900: #212121;
  ---color-blue-grey-50: #eceff1;
  ---color-blue-grey-100: #cfd8dc;
  ---color-blue-grey-200: #b0bec5;
  ---color-blue-grey-300: #90a4ae;
  ---color-blue-grey-400: #78909c;
  ---color-blue-grey-500: #607d8b;
  ---color-blue-grey-600: #546e7a;
  ---color-blue-grey-700: #455a64;
  ---color-blue-grey-800: #37474f;
  ---color-blue-grey-900: #263238;
  ---theme-grey-lightest: var(--color-grey-100);
  ---theme-grey-lighter: var(--color-grey-300);
  ---theme-grey-light: var(--color-grey-400);
  ---theme-grey-default: var(--color-grey-500);
  ---theme-grey-dark: var(--color-grey-600);
  ---theme-grey-darker: var(--color-grey-700);
  ---theme-grey-darkest: var(--color-grey-800);
  ---theme-blue-grey-lightest: var(--color-blue-grey-100);
  ---theme-blue-grey-lighter: var(--color-blue-grey-300);
  ---theme-blue-grey-light: var(--color-blue-grey-400);
  ---theme-blue-grey-default: var(--color-blue-grey-500);
  ---theme-blue-grey-dark: var(--color-blue-grey-600);
  ---theme-blue-grey-darker: var(--color-blue-grey-800);
  ---theme-blue-grey-darkest: var(--color-blue-grey-900);
  ---theme-primary-lightest: var(--color-indigo-50);
  ---theme-primary-lighter: var(--color-indigo-100);
  ---theme-primary-light: var(--color-indigo-200);
  ---theme-primary-default: var(--color-indigo-500);
  ---theme-primary-dark: var(--color-indigo-600);
  ---theme-primary-darker: var(--color-indigo-700);
  ---theme-primary-darkest: var(--color-indigo-800);
  ---theme-secondary-lightest: var(--color-blue-50);
  ---theme-secondary-lighter: var(--color-blue-100);
  ---theme-secondary-light: var(--color-blue-200);
  ---theme-secondary-default: var(--color-blue-500);
  ---theme-secondary-dark: var(--color-blue-600);
  ---theme-secondary-darker: var(--color-blue-700);
  ---theme-secondary-darkest: var(--color-blue-800);
  ---theme-info-lightest: var(--color-teal-50);
  ---theme-info-lighter: var(--color-teal-100);
  ---theme-info-light: var(--color-teal-200);
  ---theme-info-default: var(--color-teal-500);
  ---theme-info-dark: var(--color-teal-600);
  ---theme-info-darker: var(--color-teal-700);
  ---theme-info-darkest: var(--color-teal-800);
  ---theme-success-lightest: var(--color-green-50);
  ---theme-success-lighter: var(--color-green-100);
  ---theme-success-light: var(--color-green-300);
  ---theme-success-default: var(--color-green-500);
  ---theme-success-dark: var(--color-green-600);
  ---theme-success-darker: var(--color-green-700);
  ---theme-success-darkest: var(--color-green-800);
  ---theme-warning-lightest: var(--color-orange-50);
  ---theme-warning-lighter: var(--color-orange-100);
  ---theme-warning-light: var(--color-orange-200);
  ---theme-warning-default: var(--color-orange-600);
  ---theme-warning-dark: var(--color-orange-700);
  ---theme-warning-darker: var(--color-orange-800);
  ---theme-warning-darkest: var(--color-orange-900);
  ---theme-danger-lightest: var(--color-red-50);
  ---theme-danger-lighter: var(--color-red-100);
  ---theme-danger-light: var(--color-red-200);
  ---theme-danger-default: var(--color-red-500);
  ---theme-danger-dark: var(--color-red-700);
  ---theme-danger-darker: var(--color-red-800);
  ---theme-danger-darkest: var(--color-red-900);
  ---trans-darkest: rgba(0, 0, 0, 0.5);
  ---trans-darker: rgba(0, 0, 0, 0.4);
  ---trans-dark: rgba(0, 0, 0, 0.3);
  ---trans-default: rgba(0, 0, 0, 0.2);
  ---trans-light: rgba(0, 0, 0, 0.1);
  ---trans-lighter: rgba(0, 0, 0, 0.03);
  ---trans-rev-default: rgba(255, 255, 255, 0.1);
  ---trans-rev-light: rgba(255, 255, 255, 0.2);
  ---trans-rev-lighter: rgba(255, 255, 255, 0.3);
  ---trans-rev-lightest: rgba(255, 255, 255, 0.4);
  ---text-trans-dark: black;
  ---text-trans-default: rgba(0, 0, 0, 0.87);
  ---text-trans-light: rgba(0, 0, 0, 0.6);
  ---text-trans-lighter: rgba(0, 0, 0, 0.38);
  ---text-trans-lightest: rgba(0, 0, 0, 0.2);
  ---text-trans-rev-default: white;
  ---text-trans-rev-dark: rgba(255, 255, 255, 0.7);
  ---text-trans-rev-darker: rgba(255, 255, 255, 0.5);
  ---font-size-lg: 14px;
  ---font-size-default: 12px;
  ---font-size-sm: 11px;
  ---font-size-h1: 24px;
  ---font-size-h2: 18px;
  ---font-size-h3: 16px;
  ---font-size-h4: 14px;
  ---font-size-h5: 12px;
  ---font-size-h6: 11px;
  ---gap-xxs: 1px;
  ---gap-xs: 2px;
  ---gap-sm: 4px;
  ---gap-default: 6px;
  ---gap-lg: 8px;
  ---gap-xl: 12px;
  ---gap-xxl: 18px;
  ---border-color-light: var(--theme-grey-lighter);
  ---border-color-default: var(--theme-grey-light);
  ---border-color-dark: var(--theme-grey-default);
  ---border-color-darker: var(--theme-grey-dark);
  ---border-radius-sm: var(--gap-xs);
  ---border-radius-default: var(--gap-sm);
  ---border-radius-lg: var(--gap-default);
  ---border-radius-xl: var(--gap-lg);
  ---border-radius-xxl: var(--gap-xl);
  ---z-index-toast: 9999;
  ---z-index-busy: 9998;
  ---z-index-dropdown: 5000;
  ---z-index-modal: 4000;
  ---z-index-sidebar: 3000;
  ---line-height: 1.5em;
  ---line-height-strip-unit: 1.5;
  ---font-family: '맑은 고딕', 'Malgun Gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid Sans', sans-serif;
  ---font-family-monospace: 'D2Coding', monospace;
  ---background-color: var(--theme-grey-lightest);
  ---sidebar-width: 180px;
  ---topbar-height: 36px;
  ---sheet-pv: var(--gap-xs);
  ---sheet-ph: var(--gap-sm);
  ---sheet-bg: var(--color-grey-200);
}

*, *:after, *:before {
  box-sizing: border-box;
  outline-color: var(--theme-primary-default);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-trans-default);
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  line-height: var(--line-height);
}

*::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--theme-grey-light);
  border-radius: 12px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--theme-grey-lighter);
  border-radius: 8px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--border-color-light);
}

p {
  margin: 0;
}

pre, code {
  font-size: var(--font-size-default);
  line-height: var(--line-height);
  margin: 0;
}

pre {
  font-family: var(--font-family);
}

code {
  font-family: var(--font-family-monospace);
}

small {
  vertical-align: top;
}

sub {
  display: inline-block;
  overflow: visible;
  height: 0;
}

form {
  display: inline;
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height);
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height);
  margin: 0;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height);
  margin: 0;
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height);
  margin: 0;
}

h5 {
  font-size: var(--font-size-h5);
  line-height: var(--line-height);
  margin: 0;
}

h6 {
  font-size: var(--font-size-h6);
  line-height: var(--line-height);
  margin: 0;
}

.ft-size-lg {
  font-size: var(--font-size-lg) !important;
}

.ft-size-default {
  font-size: var(--font-size-default) !important;
}

.ft-size-sm {
  font-size: var(--font-size-sm) !important;
}

.ft-size-h1 {
  font-size: var(--font-size-h1) !important;
}

.ft-size-h2 {
  font-size: var(--font-size-h2) !important;
}

.ft-size-h3 {
  font-size: var(--font-size-h3) !important;
}

.ft-size-h4 {
  font-size: var(--font-size-h4) !important;
}

.ft-size-h5 {
  font-size: var(--font-size-h5) !important;
}

.ft-size-h6 {
  font-size: var(--font-size-h6) !important;
}

.bg-theme-grey {
  background: var(--theme-grey) !important;
}

.bg-theme-blue-grey {
  background: var(--theme-blue-grey) !important;
}

.bg-theme-primary {
  background: var(--theme-primary) !important;
}

.bg-theme-secondary {
  background: var(--theme-secondary) !important;
}

.bg-theme-info {
  background: var(--theme-info) !important;
}

.bg-theme-success {
  background: var(--theme-success) !important;
}

.bg-theme-warning {
  background: var(--theme-warning) !important;
}

.bg-theme-danger {
  background: var(--theme-danger) !important;
}

.bg-trans-darkest {
  background: var(--trans-darkest) !important;
}

.bg-trans-darker {
  background: var(--trans-darker) !important;
}

.bg-trans-dark {
  background: var(--trans-dark) !important;
}

.bg-trans-default {
  background: var(--trans-default) !important;
}

.bg-trans-light {
  background: var(--trans-light) !important;
}

.bg-trans-lighter {
  background: var(--trans-lighter) !important;
}

.bg-trans-rev {
  background: var(--trans-rev) !important;
}

.bg-white {
  background: white !important;
}

.bg-default {
  background: var(--background-color) !important;
}

.tx-theme-grey {
  color: var(--theme-grey) !important;
}

.tx-theme-blue-grey {
  color: var(--theme-blue-grey) !important;
}

.tx-theme-primary {
  color: var(--theme-primary) !important;
}

.tx-theme-secondary {
  color: var(--theme-secondary) !important;
}

.tx-theme-info {
  color: var(--theme-info) !important;
}

.tx-theme-success {
  color: var(--theme-success) !important;
}

.tx-theme-warning {
  color: var(--theme-warning) !important;
}

.tx-theme-danger {
  color: var(--theme-danger) !important;
}

.tx-trans-dark {
  color: var(--text-trans-dark) !important;
}

.tx-trans-default {
  color: var(--text-trans-default) !important;
}

.tx-trans-light {
  color: var(--text-trans-light) !important;
}

.tx-trans-lighter {
  color: var(--text-trans-lighter) !important;
}

.tx-trans-lightest {
  color: var(--text-trans-lightest) !important;
}

.tx-trans-rev {
  color: var(--text-trans-rev) !important;
}

.bd {
  border: 1px solid !important;
}

.bd-theme-grey {
  border-color: var(--theme-grey) !important;
}

.bd-theme-blue-grey {
  border-color: var(--theme-blue-grey) !important;
}

.bd-theme-primary {
  border-color: var(--theme-primary) !important;
}

.bd-theme-secondary {
  border-color: var(--theme-secondary) !important;
}

.bd-theme-info {
  border-color: var(--theme-info) !important;
}

.bd-theme-success {
  border-color: var(--theme-success) !important;
}

.bd-theme-warning {
  border-color: var(--theme-warning) !important;
}

.bd-theme-danger {
  border-color: var(--theme-danger) !important;
}

.bd-trans-darkest {
  border-color: var(--trans-darkest) !important;
}

.bd-trans-darker {
  border-color: var(--trans-darker) !important;
}

.bd-trans-dark {
  border-color: var(--trans-dark) !important;
}

.bd-trans-default {
  border-color: var(--trans-default) !important;
}

.bd-trans-light {
  border-color: var(--trans-light) !important;
}

.bd-trans-lighter {
  border-color: var(--trans-lighter) !important;
}

.bd-trans-rev {
  border-color: var(--trans-rev) !important;
}

.bd-color-light {
  border-color: var(--border-color-light) !important;
}

.bd-color-default {
  border-color: var(--border-color-default) !important;
}

.bd-color-dark {
  border-color: var(--border-color-dark) !important;
}

.bd-color-darker {
  border-color: var(--border-color-darker) !important;
}

.bd-none {
  border: none !important;
}

.bd-trans {
  border-color: transparent !important;
}

.bdt {
  border-top: 1px solid !important;
}

.bdt-theme-grey {
  border-top-color: var(--theme-grey) !important;
}

.bdt-theme-blue-grey {
  border-top-color: var(--theme-blue-grey) !important;
}

.bdt-theme-primary {
  border-top-color: var(--theme-primary) !important;
}

.bdt-theme-secondary {
  border-top-color: var(--theme-secondary) !important;
}

.bdt-theme-info {
  border-top-color: var(--theme-info) !important;
}

.bdt-theme-success {
  border-top-color: var(--theme-success) !important;
}

.bdt-theme-warning {
  border-top-color: var(--theme-warning) !important;
}

.bdt-theme-danger {
  border-top-color: var(--theme-danger) !important;
}

.bdt-trans-darkest {
  border-top-color: var(--trans-darkest) !important;
}

.bdt-trans-darker {
  border-top-color: var(--trans-darker) !important;
}

.bdt-trans-dark {
  border-top-color: var(--trans-dark) !important;
}

.bdt-trans-default {
  border-top-color: var(--trans-default) !important;
}

.bdt-trans-light {
  border-top-color: var(--trans-light) !important;
}

.bdt-trans-lighter {
  border-top-color: var(--trans-lighter) !important;
}

.bdt-trans-rev {
  border-top-color: var(--trans-rev) !important;
}

.bdt-color-light {
  border-top-color: var(--border-color-light) !important;
}

.bdt-color-default {
  border-top-color: var(--border-color-default) !important;
}

.bdt-color-dark {
  border-top-color: var(--border-color-dark) !important;
}

.bdt-color-darker {
  border-top-color: var(--border-color-darker) !important;
}

.bdt-none {
  border-top: none !important;
}

.bdt-trans {
  border-top-color: transparent !important;
}

.bdr {
  border-right: 1px solid !important;
}

.bdr-theme-grey {
  border-right-color: var(--theme-grey) !important;
}

.bdr-theme-blue-grey {
  border-right-color: var(--theme-blue-grey) !important;
}

.bdr-theme-primary {
  border-right-color: var(--theme-primary) !important;
}

.bdr-theme-secondary {
  border-right-color: var(--theme-secondary) !important;
}

.bdr-theme-info {
  border-right-color: var(--theme-info) !important;
}

.bdr-theme-success {
  border-right-color: var(--theme-success) !important;
}

.bdr-theme-warning {
  border-right-color: var(--theme-warning) !important;
}

.bdr-theme-danger {
  border-right-color: var(--theme-danger) !important;
}

.bdr-trans-darkest {
  border-right-color: var(--trans-darkest) !important;
}

.bdr-trans-darker {
  border-right-color: var(--trans-darker) !important;
}

.bdr-trans-dark {
  border-right-color: var(--trans-dark) !important;
}

.bdr-trans-default {
  border-right-color: var(--trans-default) !important;
}

.bdr-trans-light {
  border-right-color: var(--trans-light) !important;
}

.bdr-trans-lighter {
  border-right-color: var(--trans-lighter) !important;
}

.bdr-trans-rev {
  border-right-color: var(--trans-rev) !important;
}

.bdr-color-light {
  border-right-color: var(--border-color-light) !important;
}

.bdr-color-default {
  border-right-color: var(--border-color-default) !important;
}

.bdr-color-dark {
  border-right-color: var(--border-color-dark) !important;
}

.bdr-color-darker {
  border-right-color: var(--border-color-darker) !important;
}

.bdr-none {
  border-right: none !important;
}

.bdr-trans {
  border-right-color: transparent !important;
}

.bdb {
  border-bottom: 1px solid !important;
}

.bdb-theme-grey {
  border-bottom-color: var(--theme-grey) !important;
}

.bdb-theme-blue-grey {
  border-bottom-color: var(--theme-blue-grey) !important;
}

.bdb-theme-primary {
  border-bottom-color: var(--theme-primary) !important;
}

.bdb-theme-secondary {
  border-bottom-color: var(--theme-secondary) !important;
}

.bdb-theme-info {
  border-bottom-color: var(--theme-info) !important;
}

.bdb-theme-success {
  border-bottom-color: var(--theme-success) !important;
}

.bdb-theme-warning {
  border-bottom-color: var(--theme-warning) !important;
}

.bdb-theme-danger {
  border-bottom-color: var(--theme-danger) !important;
}

.bdb-trans-darkest {
  border-bottom-color: var(--trans-darkest) !important;
}

.bdb-trans-darker {
  border-bottom-color: var(--trans-darker) !important;
}

.bdb-trans-dark {
  border-bottom-color: var(--trans-dark) !important;
}

.bdb-trans-default {
  border-bottom-color: var(--trans-default) !important;
}

.bdb-trans-light {
  border-bottom-color: var(--trans-light) !important;
}

.bdb-trans-lighter {
  border-bottom-color: var(--trans-lighter) !important;
}

.bdb-trans-rev {
  border-bottom-color: var(--trans-rev) !important;
}

.bdb-color-light {
  border-bottom-color: var(--border-color-light) !important;
}

.bdb-color-default {
  border-bottom-color: var(--border-color-default) !important;
}

.bdb-color-dark {
  border-bottom-color: var(--border-color-dark) !important;
}

.bdb-color-darker {
  border-bottom-color: var(--border-color-darker) !important;
}

.bdb-none {
  border-bottom: none !important;
}

.bdb-trans {
  border-bottom-color: transparent !important;
}

.bdl {
  border-left: 1px solid !important;
}

.bdl-theme-grey {
  border-left-color: var(--theme-grey) !important;
}

.bdl-theme-blue-grey {
  border-left-color: var(--theme-blue-grey) !important;
}

.bdl-theme-primary {
  border-left-color: var(--theme-primary) !important;
}

.bdl-theme-secondary {
  border-left-color: var(--theme-secondary) !important;
}

.bdl-theme-info {
  border-left-color: var(--theme-info) !important;
}

.bdl-theme-success {
  border-left-color: var(--theme-success) !important;
}

.bdl-theme-warning {
  border-left-color: var(--theme-warning) !important;
}

.bdl-theme-danger {
  border-left-color: var(--theme-danger) !important;
}

.bdl-trans-darkest {
  border-left-color: var(--trans-darkest) !important;
}

.bdl-trans-darker {
  border-left-color: var(--trans-darker) !important;
}

.bdl-trans-dark {
  border-left-color: var(--trans-dark) !important;
}

.bdl-trans-default {
  border-left-color: var(--trans-default) !important;
}

.bdl-trans-light {
  border-left-color: var(--trans-light) !important;
}

.bdl-trans-lighter {
  border-left-color: var(--trans-lighter) !important;
}

.bdl-trans-rev {
  border-left-color: var(--trans-rev) !important;
}

.bdl-color-light {
  border-left-color: var(--border-color-light) !important;
}

.bdl-color-default {
  border-left-color: var(--border-color-default) !important;
}

.bdl-color-dark {
  border-left-color: var(--border-color-dark) !important;
}

.bdl-color-darker {
  border-left-color: var(--border-color-darker) !important;
}

.bdl-none {
  border-left: none !important;
}

.bdl-trans {
  border-left-color: transparent !important;
}

.bd-width-xxs {
  border-width: var(--gap-xxs) !important;
}

.bdt-width-xxs {
  border-top-width: var(--gap-xxs) !important;
}

.bdr-width-xxs {
  border-right-width: var(--gap-xxs) !important;
}

.bdb-width-xxs {
  border-bottom-width: var(--gap-xxs) !important;
}

.bdl-width-xxs {
  border-left-width: var(--gap-xxs) !important;
}

.bd-width-xs {
  border-width: var(--gap-xs) !important;
}

.bdt-width-xs {
  border-top-width: var(--gap-xs) !important;
}

.bdr-width-xs {
  border-right-width: var(--gap-xs) !important;
}

.bdb-width-xs {
  border-bottom-width: var(--gap-xs) !important;
}

.bdl-width-xs {
  border-left-width: var(--gap-xs) !important;
}

.bd-width-sm {
  border-width: var(--gap-sm) !important;
}

.bdt-width-sm {
  border-top-width: var(--gap-sm) !important;
}

.bdr-width-sm {
  border-right-width: var(--gap-sm) !important;
}

.bdb-width-sm {
  border-bottom-width: var(--gap-sm) !important;
}

.bdl-width-sm {
  border-left-width: var(--gap-sm) !important;
}

.bd-width-default {
  border-width: var(--gap-default) !important;
}

.bdt-width-default {
  border-top-width: var(--gap-default) !important;
}

.bdr-width-default {
  border-right-width: var(--gap-default) !important;
}

.bdb-width-default {
  border-bottom-width: var(--gap-default) !important;
}

.bdl-width-default {
  border-left-width: var(--gap-default) !important;
}

.bd-width-lg {
  border-width: var(--gap-lg) !important;
}

.bdt-width-lg {
  border-top-width: var(--gap-lg) !important;
}

.bdr-width-lg {
  border-right-width: var(--gap-lg) !important;
}

.bdb-width-lg {
  border-bottom-width: var(--gap-lg) !important;
}

.bdl-width-lg {
  border-left-width: var(--gap-lg) !important;
}

.bd-width-xl {
  border-width: var(--gap-xl) !important;
}

.bdt-width-xl {
  border-top-width: var(--gap-xl) !important;
}

.bdr-width-xl {
  border-right-width: var(--gap-xl) !important;
}

.bdb-width-xl {
  border-bottom-width: var(--gap-xl) !important;
}

.bdl-width-xl {
  border-left-width: var(--gap-xl) !important;
}

.bd-width-xxl {
  border-width: var(--gap-xxl) !important;
}

.bdt-width-xxl {
  border-top-width: var(--gap-xxl) !important;
}

.bdr-width-xxl {
  border-right-width: var(--gap-xxl) !important;
}

.bdb-width-xxl {
  border-bottom-width: var(--gap-xxl) !important;
}

.bdl-width-xxl {
  border-left-width: var(--gap-xxl) !important;
}

.bd-radius-sm {
  border-radius: var(--border-radius-sm) !important;
}

.bdt-radius-sm {
  border-top-right-radius: var(--border-radius-sm) !important;
  border-top-left-radius: var(--border-radius-sm) !important;
}

.bdb-radius-sm {
  border-bottom-right-radius: var(--border-radius-sm) !important;
  border-bottom-left-radius: var(--border-radius-sm) !important;
}

.bdl-radius-sm {
  border-top-left-radius: var(--border-radius-sm) !important;
  border-bottom-left-radius: var(--border-radius-sm) !important;
}

.bdr-radius-sm {
  border-top-right-radius: var(--border-radius-sm) !important;
  border-bottom-right-radius: var(--border-radius-sm) !important;
}

.bd-radius-default {
  border-radius: var(--border-radius-default) !important;
}

.bdt-radius-default {
  border-top-right-radius: var(--border-radius-default) !important;
  border-top-left-radius: var(--border-radius-default) !important;
}

.bdb-radius-default {
  border-bottom-right-radius: var(--border-radius-default) !important;
  border-bottom-left-radius: var(--border-radius-default) !important;
}

.bdl-radius-default {
  border-top-left-radius: var(--border-radius-default) !important;
  border-bottom-left-radius: var(--border-radius-default) !important;
}

.bdr-radius-default {
  border-top-right-radius: var(--border-radius-default) !important;
  border-bottom-right-radius: var(--border-radius-default) !important;
}

.bd-radius-lg {
  border-radius: var(--border-radius-lg) !important;
}

.bdt-radius-lg {
  border-top-right-radius: var(--border-radius-lg) !important;
  border-top-left-radius: var(--border-radius-lg) !important;
}

.bdb-radius-lg {
  border-bottom-right-radius: var(--border-radius-lg) !important;
  border-bottom-left-radius: var(--border-radius-lg) !important;
}

.bdl-radius-lg {
  border-top-left-radius: var(--border-radius-lg) !important;
  border-bottom-left-radius: var(--border-radius-lg) !important;
}

.bdr-radius-lg {
  border-top-right-radius: var(--border-radius-lg) !important;
  border-bottom-right-radius: var(--border-radius-lg) !important;
}

.bd-radius-xl {
  border-radius: var(--border-radius-xl) !important;
}

.bdt-radius-xl {
  border-top-right-radius: var(--border-radius-xl) !important;
  border-top-left-radius: var(--border-radius-xl) !important;
}

.bdb-radius-xl {
  border-bottom-right-radius: var(--border-radius-xl) !important;
  border-bottom-left-radius: var(--border-radius-xl) !important;
}

.bdl-radius-xl {
  border-top-left-radius: var(--border-radius-xl) !important;
  border-bottom-left-radius: var(--border-radius-xl) !important;
}

.bdr-radius-xl {
  border-top-right-radius: var(--border-radius-xl) !important;
  border-bottom-right-radius: var(--border-radius-xl) !important;
}

.bd-radius-xxl {
  border-radius: var(--border-radius-xxl) !important;
}

.bdt-radius-xxl {
  border-top-right-radius: var(--border-radius-xxl) !important;
  border-top-left-radius: var(--border-radius-xxl) !important;
}

.bdb-radius-xxl {
  border-bottom-right-radius: var(--border-radius-xxl) !important;
  border-bottom-left-radius: var(--border-radius-xxl) !important;
}

.bdl-radius-xxl {
  border-top-left-radius: var(--border-radius-xxl) !important;
  border-bottom-left-radius: var(--border-radius-xxl) !important;
}

.bdr-radius-xxl {
  border-top-right-radius: var(--border-radius-xxl) !important;
  border-bottom-right-radius: var(--border-radius-xxl) !important;
}

.p-xxs {
  padding: var(--gap-xxs) !important;
}

.m-xxs {
  margin: var(--gap-xxs) !important;
}

.p-xxs-xxs {
  padding: var(--gap-xxs) var(--gap-xxs) !important;
}

.m-xxs-xxs {
  margin: var(--gap-xxs) var(--gap-xxs) !important;
}

.p-xxs-xs {
  padding: var(--gap-xxs) var(--gap-xs) !important;
}

.m-xxs-xs {
  margin: var(--gap-xxs) var(--gap-xs) !important;
}

.p-xxs-sm {
  padding: var(--gap-xxs) var(--gap-sm) !important;
}

.m-xxs-sm {
  margin: var(--gap-xxs) var(--gap-sm) !important;
}

.p-xxs-default {
  padding: var(--gap-xxs) var(--gap-default) !important;
}

.m-xxs-default {
  margin: var(--gap-xxs) var(--gap-default) !important;
}

.p-xxs-lg {
  padding: var(--gap-xxs) var(--gap-lg) !important;
}

.m-xxs-lg {
  margin: var(--gap-xxs) var(--gap-lg) !important;
}

.p-xxs-xl {
  padding: var(--gap-xxs) var(--gap-xl) !important;
}

.m-xxs-xl {
  margin: var(--gap-xxs) var(--gap-xl) !important;
}

.p-xxs-xxl {
  padding: var(--gap-xxs) var(--gap-xxl) !important;
}

.m-xxs-xxl {
  margin: var(--gap-xxs) var(--gap-xxl) !important;
}

.pv-xxs {
  padding-top: var(--gap-xxs) !important;
  padding-bottom: var(--gap-xxs) !important;
}

.ph-xxs {
  padding-left: var(--gap-xxs) !important;
  padding-right: var(--gap-xxs) !important;
}

.mv-xxs {
  margin-top: var(--gap-xxs) !important;
  margin-bottom: var(--gap-xxs) !important;
}

.mh-xxs {
  margin-left: var(--gap-xxs) !important;
  margin-right: var(--gap-xxs) !important;
}

.sw-xxs {
  width: var(--gap-xxs) !important;
}

.sh-xxs {
  height: var(--gap-xxs) !important;
}

.pt-xxs {
  padding-top: var(--gap-xxs) !important;
}

.mt-xxs {
  margin-top: var(--gap-xxs) !important;
}

.t-xxs {
  top: var(--gap-xxs) !important;
}

.pr-xxs {
  padding-right: var(--gap-xxs) !important;
}

.mr-xxs {
  margin-right: var(--gap-xxs) !important;
}

.r-xxs {
  right: var(--gap-xxs) !important;
}

.pb-xxs {
  padding-bottom: var(--gap-xxs) !important;
}

.mb-xxs {
  margin-bottom: var(--gap-xxs) !important;
}

.b-xxs {
  bottom: var(--gap-xxs) !important;
}

.pl-xxs {
  padding-left: var(--gap-xxs) !important;
}

.ml-xxs {
  margin-left: var(--gap-xxs) !important;
}

.l-xxs {
  left: var(--gap-xxs) !important;
}

.p-xs {
  padding: var(--gap-xs) !important;
}

.m-xs {
  margin: var(--gap-xs) !important;
}

.p-xs-xxs {
  padding: var(--gap-xs) var(--gap-xxs) !important;
}

.m-xs-xxs {
  margin: var(--gap-xs) var(--gap-xxs) !important;
}

.p-xs-xs {
  padding: var(--gap-xs) var(--gap-xs) !important;
}

.m-xs-xs {
  margin: var(--gap-xs) var(--gap-xs) !important;
}

.p-xs-sm {
  padding: var(--gap-xs) var(--gap-sm) !important;
}

.m-xs-sm {
  margin: var(--gap-xs) var(--gap-sm) !important;
}

.p-xs-default {
  padding: var(--gap-xs) var(--gap-default) !important;
}

.m-xs-default {
  margin: var(--gap-xs) var(--gap-default) !important;
}

.p-xs-lg {
  padding: var(--gap-xs) var(--gap-lg) !important;
}

.m-xs-lg {
  margin: var(--gap-xs) var(--gap-lg) !important;
}

.p-xs-xl {
  padding: var(--gap-xs) var(--gap-xl) !important;
}

.m-xs-xl {
  margin: var(--gap-xs) var(--gap-xl) !important;
}

.p-xs-xxl {
  padding: var(--gap-xs) var(--gap-xxl) !important;
}

.m-xs-xxl {
  margin: var(--gap-xs) var(--gap-xxl) !important;
}

.pv-xs {
  padding-top: var(--gap-xs) !important;
  padding-bottom: var(--gap-xs) !important;
}

.ph-xs {
  padding-left: var(--gap-xs) !important;
  padding-right: var(--gap-xs) !important;
}

.mv-xs {
  margin-top: var(--gap-xs) !important;
  margin-bottom: var(--gap-xs) !important;
}

.mh-xs {
  margin-left: var(--gap-xs) !important;
  margin-right: var(--gap-xs) !important;
}

.sw-xs {
  width: var(--gap-xs) !important;
}

.sh-xs {
  height: var(--gap-xs) !important;
}

.pt-xs {
  padding-top: var(--gap-xs) !important;
}

.mt-xs {
  margin-top: var(--gap-xs) !important;
}

.t-xs {
  top: var(--gap-xs) !important;
}

.pr-xs {
  padding-right: var(--gap-xs) !important;
}

.mr-xs {
  margin-right: var(--gap-xs) !important;
}

.r-xs {
  right: var(--gap-xs) !important;
}

.pb-xs {
  padding-bottom: var(--gap-xs) !important;
}

.mb-xs {
  margin-bottom: var(--gap-xs) !important;
}

.b-xs {
  bottom: var(--gap-xs) !important;
}

.pl-xs {
  padding-left: var(--gap-xs) !important;
}

.ml-xs {
  margin-left: var(--gap-xs) !important;
}

.l-xs {
  left: var(--gap-xs) !important;
}

.p-sm {
  padding: var(--gap-sm) !important;
}

.m-sm {
  margin: var(--gap-sm) !important;
}

.p-sm-xxs {
  padding: var(--gap-sm) var(--gap-xxs) !important;
}

.m-sm-xxs {
  margin: var(--gap-sm) var(--gap-xxs) !important;
}

.p-sm-xs {
  padding: var(--gap-sm) var(--gap-xs) !important;
}

.m-sm-xs {
  margin: var(--gap-sm) var(--gap-xs) !important;
}

.p-sm-sm {
  padding: var(--gap-sm) var(--gap-sm) !important;
}

.m-sm-sm {
  margin: var(--gap-sm) var(--gap-sm) !important;
}

.p-sm-default {
  padding: var(--gap-sm) var(--gap-default) !important;
}

.m-sm-default {
  margin: var(--gap-sm) var(--gap-default) !important;
}

.p-sm-lg {
  padding: var(--gap-sm) var(--gap-lg) !important;
}

.m-sm-lg {
  margin: var(--gap-sm) var(--gap-lg) !important;
}

.p-sm-xl {
  padding: var(--gap-sm) var(--gap-xl) !important;
}

.m-sm-xl {
  margin: var(--gap-sm) var(--gap-xl) !important;
}

.p-sm-xxl {
  padding: var(--gap-sm) var(--gap-xxl) !important;
}

.m-sm-xxl {
  margin: var(--gap-sm) var(--gap-xxl) !important;
}

.pv-sm {
  padding-top: var(--gap-sm) !important;
  padding-bottom: var(--gap-sm) !important;
}

.ph-sm {
  padding-left: var(--gap-sm) !important;
  padding-right: var(--gap-sm) !important;
}

.mv-sm {
  margin-top: var(--gap-sm) !important;
  margin-bottom: var(--gap-sm) !important;
}

.mh-sm {
  margin-left: var(--gap-sm) !important;
  margin-right: var(--gap-sm) !important;
}

.sw-sm {
  width: var(--gap-sm) !important;
}

.sh-sm {
  height: var(--gap-sm) !important;
}

.pt-sm {
  padding-top: var(--gap-sm) !important;
}

.mt-sm {
  margin-top: var(--gap-sm) !important;
}

.t-sm {
  top: var(--gap-sm) !important;
}

.pr-sm {
  padding-right: var(--gap-sm) !important;
}

.mr-sm {
  margin-right: var(--gap-sm) !important;
}

.r-sm {
  right: var(--gap-sm) !important;
}

.pb-sm {
  padding-bottom: var(--gap-sm) !important;
}

.mb-sm {
  margin-bottom: var(--gap-sm) !important;
}

.b-sm {
  bottom: var(--gap-sm) !important;
}

.pl-sm {
  padding-left: var(--gap-sm) !important;
}

.ml-sm {
  margin-left: var(--gap-sm) !important;
}

.l-sm {
  left: var(--gap-sm) !important;
}

.p-default {
  padding: var(--gap-default) !important;
}

.m-default {
  margin: var(--gap-default) !important;
}

.p-default-xxs {
  padding: var(--gap-default) var(--gap-xxs) !important;
}

.m-default-xxs {
  margin: var(--gap-default) var(--gap-xxs) !important;
}

.p-default-xs {
  padding: var(--gap-default) var(--gap-xs) !important;
}

.m-default-xs {
  margin: var(--gap-default) var(--gap-xs) !important;
}

.p-default-sm {
  padding: var(--gap-default) var(--gap-sm) !important;
}

.m-default-sm {
  margin: var(--gap-default) var(--gap-sm) !important;
}

.p-default-default {
  padding: var(--gap-default) var(--gap-default) !important;
}

.m-default-default {
  margin: var(--gap-default) var(--gap-default) !important;
}

.p-default-lg {
  padding: var(--gap-default) var(--gap-lg) !important;
}

.m-default-lg {
  margin: var(--gap-default) var(--gap-lg) !important;
}

.p-default-xl {
  padding: var(--gap-default) var(--gap-xl) !important;
}

.m-default-xl {
  margin: var(--gap-default) var(--gap-xl) !important;
}

.p-default-xxl {
  padding: var(--gap-default) var(--gap-xxl) !important;
}

.m-default-xxl {
  margin: var(--gap-default) var(--gap-xxl) !important;
}

.pv-default {
  padding-top: var(--gap-default) !important;
  padding-bottom: var(--gap-default) !important;
}

.ph-default {
  padding-left: var(--gap-default) !important;
  padding-right: var(--gap-default) !important;
}

.mv-default {
  margin-top: var(--gap-default) !important;
  margin-bottom: var(--gap-default) !important;
}

.mh-default {
  margin-left: var(--gap-default) !important;
  margin-right: var(--gap-default) !important;
}

.sw-default {
  width: var(--gap-default) !important;
}

.sh-default {
  height: var(--gap-default) !important;
}

.pt-default {
  padding-top: var(--gap-default) !important;
}

.mt-default {
  margin-top: var(--gap-default) !important;
}

.t-default {
  top: var(--gap-default) !important;
}

.pr-default {
  padding-right: var(--gap-default) !important;
}

.mr-default {
  margin-right: var(--gap-default) !important;
}

.r-default {
  right: var(--gap-default) !important;
}

.pb-default {
  padding-bottom: var(--gap-default) !important;
}

.mb-default {
  margin-bottom: var(--gap-default) !important;
}

.b-default {
  bottom: var(--gap-default) !important;
}

.pl-default {
  padding-left: var(--gap-default) !important;
}

.ml-default {
  margin-left: var(--gap-default) !important;
}

.l-default {
  left: var(--gap-default) !important;
}

.p-lg {
  padding: var(--gap-lg) !important;
}

.m-lg {
  margin: var(--gap-lg) !important;
}

.p-lg-xxs {
  padding: var(--gap-lg) var(--gap-xxs) !important;
}

.m-lg-xxs {
  margin: var(--gap-lg) var(--gap-xxs) !important;
}

.p-lg-xs {
  padding: var(--gap-lg) var(--gap-xs) !important;
}

.m-lg-xs {
  margin: var(--gap-lg) var(--gap-xs) !important;
}

.p-lg-sm {
  padding: var(--gap-lg) var(--gap-sm) !important;
}

.m-lg-sm {
  margin: var(--gap-lg) var(--gap-sm) !important;
}

.p-lg-default {
  padding: var(--gap-lg) var(--gap-default) !important;
}

.m-lg-default {
  margin: var(--gap-lg) var(--gap-default) !important;
}

.p-lg-lg {
  padding: var(--gap-lg) var(--gap-lg) !important;
}

.m-lg-lg {
  margin: var(--gap-lg) var(--gap-lg) !important;
}

.p-lg-xl {
  padding: var(--gap-lg) var(--gap-xl) !important;
}

.m-lg-xl {
  margin: var(--gap-lg) var(--gap-xl) !important;
}

.p-lg-xxl {
  padding: var(--gap-lg) var(--gap-xxl) !important;
}

.m-lg-xxl {
  margin: var(--gap-lg) var(--gap-xxl) !important;
}

.pv-lg {
  padding-top: var(--gap-lg) !important;
  padding-bottom: var(--gap-lg) !important;
}

.ph-lg {
  padding-left: var(--gap-lg) !important;
  padding-right: var(--gap-lg) !important;
}

.mv-lg {
  margin-top: var(--gap-lg) !important;
  margin-bottom: var(--gap-lg) !important;
}

.mh-lg {
  margin-left: var(--gap-lg) !important;
  margin-right: var(--gap-lg) !important;
}

.sw-lg {
  width: var(--gap-lg) !important;
}

.sh-lg {
  height: var(--gap-lg) !important;
}

.pt-lg {
  padding-top: var(--gap-lg) !important;
}

.mt-lg {
  margin-top: var(--gap-lg) !important;
}

.t-lg {
  top: var(--gap-lg) !important;
}

.pr-lg {
  padding-right: var(--gap-lg) !important;
}

.mr-lg {
  margin-right: var(--gap-lg) !important;
}

.r-lg {
  right: var(--gap-lg) !important;
}

.pb-lg {
  padding-bottom: var(--gap-lg) !important;
}

.mb-lg {
  margin-bottom: var(--gap-lg) !important;
}

.b-lg {
  bottom: var(--gap-lg) !important;
}

.pl-lg {
  padding-left: var(--gap-lg) !important;
}

.ml-lg {
  margin-left: var(--gap-lg) !important;
}

.l-lg {
  left: var(--gap-lg) !important;
}

.p-xl {
  padding: var(--gap-xl) !important;
}

.m-xl {
  margin: var(--gap-xl) !important;
}

.p-xl-xxs {
  padding: var(--gap-xl) var(--gap-xxs) !important;
}

.m-xl-xxs {
  margin: var(--gap-xl) var(--gap-xxs) !important;
}

.p-xl-xs {
  padding: var(--gap-xl) var(--gap-xs) !important;
}

.m-xl-xs {
  margin: var(--gap-xl) var(--gap-xs) !important;
}

.p-xl-sm {
  padding: var(--gap-xl) var(--gap-sm) !important;
}

.m-xl-sm {
  margin: var(--gap-xl) var(--gap-sm) !important;
}

.p-xl-default {
  padding: var(--gap-xl) var(--gap-default) !important;
}

.m-xl-default {
  margin: var(--gap-xl) var(--gap-default) !important;
}

.p-xl-lg {
  padding: var(--gap-xl) var(--gap-lg) !important;
}

.m-xl-lg {
  margin: var(--gap-xl) var(--gap-lg) !important;
}

.p-xl-xl {
  padding: var(--gap-xl) var(--gap-xl) !important;
}

.m-xl-xl {
  margin: var(--gap-xl) var(--gap-xl) !important;
}

.p-xl-xxl {
  padding: var(--gap-xl) var(--gap-xxl) !important;
}

.m-xl-xxl {
  margin: var(--gap-xl) var(--gap-xxl) !important;
}

.pv-xl {
  padding-top: var(--gap-xl) !important;
  padding-bottom: var(--gap-xl) !important;
}

.ph-xl {
  padding-left: var(--gap-xl) !important;
  padding-right: var(--gap-xl) !important;
}

.mv-xl {
  margin-top: var(--gap-xl) !important;
  margin-bottom: var(--gap-xl) !important;
}

.mh-xl {
  margin-left: var(--gap-xl) !important;
  margin-right: var(--gap-xl) !important;
}

.sw-xl {
  width: var(--gap-xl) !important;
}

.sh-xl {
  height: var(--gap-xl) !important;
}

.pt-xl {
  padding-top: var(--gap-xl) !important;
}

.mt-xl {
  margin-top: var(--gap-xl) !important;
}

.t-xl {
  top: var(--gap-xl) !important;
}

.pr-xl {
  padding-right: var(--gap-xl) !important;
}

.mr-xl {
  margin-right: var(--gap-xl) !important;
}

.r-xl {
  right: var(--gap-xl) !important;
}

.pb-xl {
  padding-bottom: var(--gap-xl) !important;
}

.mb-xl {
  margin-bottom: var(--gap-xl) !important;
}

.b-xl {
  bottom: var(--gap-xl) !important;
}

.pl-xl {
  padding-left: var(--gap-xl) !important;
}

.ml-xl {
  margin-left: var(--gap-xl) !important;
}

.l-xl {
  left: var(--gap-xl) !important;
}

.p-xxl {
  padding: var(--gap-xxl) !important;
}

.m-xxl {
  margin: var(--gap-xxl) !important;
}

.p-xxl-xxs {
  padding: var(--gap-xxl) var(--gap-xxs) !important;
}

.m-xxl-xxs {
  margin: var(--gap-xxl) var(--gap-xxs) !important;
}

.p-xxl-xs {
  padding: var(--gap-xxl) var(--gap-xs) !important;
}

.m-xxl-xs {
  margin: var(--gap-xxl) var(--gap-xs) !important;
}

.p-xxl-sm {
  padding: var(--gap-xxl) var(--gap-sm) !important;
}

.m-xxl-sm {
  margin: var(--gap-xxl) var(--gap-sm) !important;
}

.p-xxl-default {
  padding: var(--gap-xxl) var(--gap-default) !important;
}

.m-xxl-default {
  margin: var(--gap-xxl) var(--gap-default) !important;
}

.p-xxl-lg {
  padding: var(--gap-xxl) var(--gap-lg) !important;
}

.m-xxl-lg {
  margin: var(--gap-xxl) var(--gap-lg) !important;
}

.p-xxl-xl {
  padding: var(--gap-xxl) var(--gap-xl) !important;
}

.m-xxl-xl {
  margin: var(--gap-xxl) var(--gap-xl) !important;
}

.p-xxl-xxl {
  padding: var(--gap-xxl) var(--gap-xxl) !important;
}

.m-xxl-xxl {
  margin: var(--gap-xxl) var(--gap-xxl) !important;
}

.pv-xxl {
  padding-top: var(--gap-xxl) !important;
  padding-bottom: var(--gap-xxl) !important;
}

.ph-xxl {
  padding-left: var(--gap-xxl) !important;
  padding-right: var(--gap-xxl) !important;
}

.mv-xxl {
  margin-top: var(--gap-xxl) !important;
  margin-bottom: var(--gap-xxl) !important;
}

.mh-xxl {
  margin-left: var(--gap-xxl) !important;
  margin-right: var(--gap-xxl) !important;
}

.sw-xxl {
  width: var(--gap-xxl) !important;
}

.sh-xxl {
  height: var(--gap-xxl) !important;
}

.pt-xxl {
  padding-top: var(--gap-xxl) !important;
}

.mt-xxl {
  margin-top: var(--gap-xxl) !important;
}

.t-xxl {
  top: var(--gap-xxl) !important;
}

.pr-xxl {
  padding-right: var(--gap-xxl) !important;
}

.mr-xxl {
  margin-right: var(--gap-xxl) !important;
}

.r-xxl {
  right: var(--gap-xxl) !important;
}

.pb-xxl {
  padding-bottom: var(--gap-xxl) !important;
}

.mb-xxl {
  margin-bottom: var(--gap-xxl) !important;
}

.b-xxl {
  bottom: var(--gap-xxl) !important;
}

.pl-xxl {
  padding-left: var(--gap-xxl) !important;
}

.ml-xxl {
  margin-left: var(--gap-xxl) !important;
}

.l-xxl {
  left: var(--gap-xxl) !important;
}

.txl {
  text-align: left !important;
}

.txr {
  text-align: right !important;
}

.txc {
  text-align: center !important;
}

.flex-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.flex-row-inline {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: row;
  white-space: nowrap;
}

.flex-column {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.flex-column-inline {
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  white-space: nowrap;
}

.flex-gap-xxs {
  gap: var(--gap-xxs);
}

.flex-gap-xs {
  gap: var(--gap-xs);
}

.flex-gap-sm {
  gap: var(--gap-sm);
}

.flex-gap-default {
  gap: var(--gap-default);
}

.flex-gap-lg {
  gap: var(--gap-lg);
}

.flex-gap-xl {
  gap: var(--gap-xl);
}

.flex-gap-xxl {
  gap: var(--gap-xxl);
}

.flex-grow {
  flex-grow: 1;
  overflow: auto;
}

.flex-grow-0 {
  flex-grow: 0;
}

.form-control {
  display: block;
  width: 100%;
  padding: var(--gap-sm) var(--gap-default);
  border: 1px solid transparent;
  font-size: var(--font-size-default);
  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--text-trans-default);
}

.help {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.sh-topbar {
  height: var(--topbar-height) !important;
}

.sw-sidebar {
  width: var(--sidebar-width) !important;
}