$bg-color: white !default;

$topbar-height: 36px !default;

$sidebar-width: 180px !default;

$sheet-padding-v: get($gap, xs) !default;
$sheet-padding-h: get($gap, sm) !default;
$sheet-edit-cell-bg: get($theme-color, secondary, lightest) !default;
