@use "sass:map";
@use "../commons/variables";
@use "../commons/mixins";

.flex-row {
  display: flex !important;
  flex-wrap: nowrap;
  @include mixins.flex-direction(row);
}

.flex-column {
  display: flex !important;
  flex-wrap: nowrap;
  @include mixins.flex-direction(column);
}

.flex-row-inline {
  display: inline-flex !important;
  @include mixins.flex-direction(row);
}

.flex-column-inline {
  display: inline-flex !important;
  @include mixins.flex-direction(column);
}

.flex-auto {
  flex: 1 0 auto;
}

.flex-fill {
  flex: 1 1 auto;
  overflow: auto;
}

.flex-min {
  flex: 0 0 0;
}
