sd-toast-container,
._sd-toast-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  padding: get($gap, xxl);
  z-index: $z-index-toast;

  > sd-toast,
  > ._sd-toast {
    display: block;
    margin-bottom: get($gap, sm);
    text-align: center;

    > ._sd-toast-block {
      display: inline-block;
      text-align: left;
      color: white;
      animation: _sd-toast-show .1s ease-out forwards;
      transform: translateY(-100%);
      border-radius: 4px;
      opacity: .9;
      @include elevation(6);

      > ._sd-toast-message {
        padding: get($gap, sm) get($gap, default);
      }

      > ._sd-toast-progress {
        background: get($theme-color, grey, default);
        height: 4px;
        border-radius: 4px;

        > ._sd-toast-progress-bar {
          height: 4px;
          transition: width 1s ease-out;
        }
      }
    }

    @each $key, $val in $theme-color {
      &[sd-theme=#{$key}],
      &._sd-toast-#{$key} {
        > ._sd-toast-block {
          background: get($val, default);

          > ._sd-toast-progress {
            > ._sd-toast-progress-bar {
              background: get($val, default);
            }
          }
        }
      }
    }
  }
}

@keyframes _sd-toast-show {
  to {
    transform: none;
  }
}
