sd-textfield {
  > input {
    @include form-control-base();
    display: block;
    width: 100%;
    padding: get($gap, sm) get($gap, md);
    border: 1px solid get($trans-color, default);
    background: get($theme-color, secondary, lightest);

    &::-webkit-input-placeholder {
      color: get($text-color, lighter);
    }
  }
}
