sd-label {
  display: inline-block;
  background: get($theme-color, grey, darkest);
  color: get($text-reverse-color, default);
  padding: 0 get($gap, xs);
  border-radius: 2px;
  text-indent: 0;

  @each $key, $val in $theme-color {
    &[sd-theme=#{$key}] {
      background: get($val, default);
    }
  }

  &[sd-clickable=true] {
    cursor: pointer;

    &:hover {
      background: get($theme-color, grey, dark);

      @each $key, $val in $theme-color {
        &[sd-theme=#{$key}] {
          background: get($val, dark);
        }
      }
    }
  }
}
