sd-form {
  display: block;

  > form {
    display: table;
    width: 100%;

    > sd-form-item {
      display: table-row;

      > ._label {
        display: table-cell;
        text-align: right;
        padding-right: get($gap, sm);
        padding-bottom: get($gap, sm);
      }

      > ._content {
        display: table-cell;
        padding-bottom: get($gap, sm);
      }

      /*&:last-child {
        > ._label {
          padding-bottom: 0;
        }

        > ._content {
          padding-bottom: 0;
        }
      }*/
    }
  }
}
