sd-dock-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  > sd-dock {
    display: block;
    position: absolute;
    overflow: auto;

    > div {
      height: 100%;
    }

    &._resizable[_sd-position=bottom] {
      > hr {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        cursor: ns-resize;
        background: border-color(dark);
        border: none;
      }

      > div {
        padding-top: 4px;
      }
    }

    &._resizable[_sd-position=right] {
      > hr {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        cursor: ew-resize;
        background: border-color(dark);
        border: none;
      }

      > div {
        padding-left: 4px;
      }
    }
  }
}