sd-multi-select {
  display: block;
  width: 100%;

  > sd-dropdown > div {
    @include form-control-base();

    text-align: left;
    display: block;
    overflow: visible;
    padding-right: 30px !important;
    height: get($gap, sm) * 2 + strip-unit($line-height) * get($font-size, default) + 2;

    background: white;
    border-color: get($trans-color, default);
    transition: outline-color .1s linear;
    outline: 1px solid transparent;
    outline-offset: -1px;
    cursor: pointer;

    > div:first-child {
      overflow: hidden;
      white-space: nowrap;
    }

    > ._icon {
      position: absolute;
      top: -1px;
      right: -1px;
      padding: get($gap, sm) 0;
      width: 30px;
      text-align: center;
      pointer-events: none;
    }

    &:focus {
      outline-color: get($theme-color, primary, default);
    }
  }

  &[sd-disabled=true] > sd-dropdown > div {
    background: $bg-color;
    color: get($text-color, light);
  }
}

sd-multi-select-item {
  display: block;
  padding: get($gap, xs) get($gap, sm);
  cursor: pointer;

  &:hover {
    background: get($trans-color, dark);
  }

  > sd-checkbox > label {
    padding: 0 !important;
  }

  &[hidden] {
    display: none;
  }
}
