@use "quill/dist/quill.snow.css";

@use "commons/theme-variables";
@use "commons/styles";

@use "controls/card";
@use "controls/flex";
@use "controls/grid";

@use "controls/form-box";
@use "controls/form-table";
@use "controls/table";

ng-icon {
  --ng-icon__size: 1.33em; // 1.25em
  vertical-align: -0.2em !important; // -0.125em

  svg {
    stroke-width: 1.5 !important;
  }
}
