@keyframes sd-busy-bar-before {
  0% {
    transform: scaleX(0);
  }

  60%,
  100% {
    transform: scaleX(1);
  }
}

@keyframes sd-busy-bar-after {
  0%,
  50% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
