## code
#set($segments = $DIR_PATH.split("/"))
#set($startIndex = 5)
#set($endIndex = $segments.size() - 2)
#set($code = "")
#set($i = 0)
#foreach($i in [$startIndex..$endIndex])
  #set($code = $code + $segments.get($i) + ".")
#end
#set($code = $code + $name_kebab)