#if(${name_kebab}) #end
#if(${name_kor}) #end
#parse('_name-converts')
import { Column, Table } from "@simplysm/sd-orm-common";

@Table({ description: "${name_kor}" })
export class ${name_pascal} {
  @Column({ description: "ID", autoIncrement: true, primaryKey: 1 })
  id?: number;

  @Column({ description: "${name_kor}명" })
  name!: string;

  @Column({ description: "삭제여부" })
  isDeleted!: boolean;
}
