@mixin elevation($value) {
  @if $value == none or $value == 0 {
    box-shadow: none;
  } @else {
    box-shadow: 0 0 2px rgba(0, 0, 0, .05), 0 calc(#{$value} * var(--gap-xxs)) calc(#{$value} * 2 * var(--gap-xxs)) rgba(0, 0, 0, .1);
  }
}

@mixin form-control-base() {
  display: block;
  width: 100%;
  padding: var(--gap-sm) var(--gap-default);
  border: 1px solid transparent;

  font-size: var(--font-size-default);
  font-family: var(--font-family);
  line-height: var(--line-height);

  color: var(--text-trans-default);
}

@mixin help() {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  cursor: help;
}

@mixin mobile-active-effect($use) {
  @if $use == false {
    &:after {
      display: none;
    }
  } @else {
    position: relative;
    overflow: hidden;
    vertical-align: top;

    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 120%;
      height: 300%;
      border-radius: 100%;
      left: -10%;
      top: -100%;
      background: transparent;
      transition: transform var(--mobile-animation-duration);
      transform: scaleX(.5);

      pointer-events: none;
    }

    &:active {
      &:after {
        background: var(--trans-brightness-lighter);
        transform: none;
      }
    }
  }
}