sd-tab {
  display: block;
}

sd-tab-item {
  display: inline-block;
  padding: get($gap, sm) get($gap, default);
  cursor: pointer;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &[sd-selected="true"] {
    background: get($theme-color, primary, default);
    color: get($text-reverse-color, default);
  }
}
