sd-text-area {
  > textarea {
    display: block;
    width: 100%;
    border: 1px solid border-color();
    @include padding(sm, default);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    resize: vertical;

    &::-webkit-input-placeholder {
      color: text-color(lighter);
    }

    &:focus {
      border-color: theme-color(primary);
    }

    &:disabled {
      color: text-color(light);
      background: grey(lighter);
    }
  }
}