sd-topbar-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: $topbar-height;

  &[sd-hide-topbar=true] {
    padding-top: 0 !important;

    sd-topbar {
      display: none !important;
    }
  }
}

sd-topbar {
  display: block;
  position: absolute;
  z-index: $z-index-topbar;
  top: 0;
  left: 0;
  width: 100%;
  height: $topbar-height;
  line-height: $topbar-height;
  background: get($theme-color, primary, default);
  color: get($text-reverse-color, default);
  @include elevation(6);

  > * {
    display: inline-block;
    line-height: $topbar-height;
  }

  > a {
    min-width: $topbar-height;
    text-align: center;
    margin-right: get($gap, lg);
    color: get($theme-color, grey, lighter);
    transition-property: background, color;
    transition: .1s ease-in;

    &:hover,
    &:focus {
      outline-color: transparent;
      background: rgba(0, 0, 0, 0.2);
      color: white;
      transition-property: background, color;
      transition: .1s ease-out;
    }

    &:active {
      background: rgba(0, 0, 0, .3);
      color: white;
      transition-property: background, color;
      transition: .1s ease-out;
    }
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    padding-right: get($gap, lg);
  }
}

sd-topbar-menu {
  padding: 0 get($gap, lg);
  cursor: pointer;
  user-select: none;
  color: get($theme-color, grey, lighter);

  &:hover {
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }

  &:active {
    background: rgba(0, 0, 0, .3);
    color: white;
  }
}
