sd-button-group {
  display: block;
  @include clearfix();
  background: white;

  > sd-button {
    float: left;
    width: auto;

    > button {
      display: block;
      width: 100%;
    }

    + sd-button > button {
      border-left: none;
    }
  }
}