sd-modal {
  display: block;
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: $topbar-height * 2;
  overflow: auto;

  > ._backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }

  > ._dialog {
    position: relative;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    background: white;
    overflow: hidden;
    max-width: 100%;
    min-width: 240px;
    border: 1px solid get($theme-color, primary, dark);

    &:focus {
      outline-color: transparent;
    }

    > sd-dock-container {
      > ._header {
        background: get($theme-color, primary, default);
        color: get($text-reverse-color, default);

        > ._title {
          display: inline-block;
          padding: get($gap, default) get($gap, lg);
        }

        > ._close-button {
          float: right;
          cursor: pointer;
          text-align: center;
          padding: get($gap, default) get($gap, lg);
          color: get($text-reverse-color, dark);

          &:hover {
            background: rgba(0, 0, 0, .1);
            color: get($text-reverse-color, default);
          }

          &:active {
            background: rgba(0, 0, 0, .2);
          }
        }
      }
    }

    > ._left-resizer {
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
      cursor: ew-resize;

      &:hover {
        background: rgba(0, 0, 0, .3);
      }
    }

    > ._right-resizer {
      position: absolute;
      top: 0;
      right: 0;
      width: 4px;
      height: 100%;
      cursor: ew-resize;

      &:hover {
        background: rgba(0, 0, 0, .3);
      }
    }

    > ._bottom-resizer {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      cursor: ns-resize;

      &:hover {
        background: rgba(0, 0, 0, .3);
      }
    }

    > ._all-right-resizer {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 4px;
      height: 4px;
      z-index: 1;
      cursor: nwse-resize;

      &:hover {
        background: rgba(0, 0, 0, .3);
      }
    }

    > ._all-left-resizer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 4px;
      height: 4px;
      cursor: nesw-resize;
      z-index: 1;

      &:hover {
        background: rgba(0, 0, 0, .1);
      }
    }
  }

  opacity: 0;
  transition: opacity .3s ease-in-out;
  pointer-events: none;

  > ._dialog {
    transform: translateY(-25px);
    transition: transform .3s ease-in-out;
  }

  &[sd-open=true] {
    opacity: 1;
    pointer-events: auto;

    > ._dialog {
      transform: none;
      @include elevation(16);
    }
  }

  &[sd-float=true] {
    pointer-events: none;

    > ._backdrop {
      display: none;
    }

    > ._dialog {
      pointer-events: auto;
      right: get($gap, lg);
      bottom: get($gap, lg);
      border-radius: 0;
      opacity: 0;
    }

    &[sd-open=true] {
      > ._dialog {
        opacity: 1;
      }
    }
  }

  @media #{$screen-mobile} {
    padding-top: 0;

    > ._dialog {
      width: 100%;
      height: 100%;
    }
  }
}
