$checkbox-size: (font-size() + 1px) !default;
$checkbox-box-margin: 4px !default;

sd-checkbox {
  display: inline-block;
  position: relative;
  @include user-select(none);

  > label {
    cursor: pointer;
    padding-left: $line-height;
    min-width: $line-height;
    min-height: $line-height;

    &:before {
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: $line-height;
      height: $line-height;
      border: 1px solid border-color();
      background: #fff;
    }

    &:after {
      position: absolute;
      content: '';
      display: block;
      left: .45em;
      top: .2em;
      width: .5em;
      height: .8em;
      border-right: 2px solid transparent;
      border-bottom: 2px solid transparent;
      @include transform(rotate(45deg));
    }

    > input {
      display: none;
    }

    &._checked {
      &:before {
        background: theme-color(primary);
      }
      &:after {
        border-color: #fff;
      }
    }

    &:focus,
    &:hover {
      outline: none;
      &:before {
        border-color: theme-color(primary);
      }
    }

    &._disabled {
      cursor: default;
      color: grey();

      &:before {
        background: grey(light);
        border: 1px solid border-color();
      }

      &._checked {
        &:before {
          background: grey(light);
          border: 1px solid grey(light);
        }
      }
    }
  }
}