sd-table {
  position: relative;
  z-index: $z-table;
  display: block;
  width: 100%;
  height: 100%;
  background: grey(lighter);
  overflow: auto;

  > table {
    width: auto;
    border-collapse: collapse;

    > * > tr > * {
      @include padding(sm, default);
      white-space: nowrap;
      background: #fff;
      border: none;
      border-top: 1px solid grey(lighter); // border-color()는 background에 따라 변화해서 안됨
      border-bottom: 1px solid grey(lighter); // border-color()는 background에 따라 변화해서 안됨
      /*border-right: 1px solid grey(lighter);*/

      &:focus {
        outline: 1px solid theme-color(primary);
        outline-offset: -1px;
        z-index: 999999 !important;
      }
    }

    > *:first-child > tr:first-child > * {
      border-top: none;
    }

    > thead > tr > * {
      text-align: center;
    }

    > thead > tr > *,
    > * > tr > *._fixed {
      z-index: 1;
    }

    > thead > tr > *._fixed {
      z-index: 2;
    }
    /*
        > tbody > tr > * {
          text-align: left;
          font-weight: normal;
        }*/

    @each $key, $color in $theme-colors {
      > *.sd-background-#{$key} > tr > *,
      > * > tr.sd-background-#{$key} > * {
        background: theme-color($key) !important;
      }
    }

    > *.sd-background-grey > tr > *,
    > * > tr.sd-background-grey > * {
      background: grey(darkest) !important;
    }

    > *.sd-background-white > tr > *,
    > * > tr.sd-background-white > * {
      background: #fff !important;
    }

    @each $key, $color in $theme-colors {
      > *.sd-background-#{$key}-state > tr > *,
      > * > tr.sd-background-#{$key}-state > * {
        background: state-color($key) !important;
      }
    }

    > *.sd-background-grey-state > tr > *,
    > * > tr.sd-background-grey-state > * {
      background: grey(lightest) !important;
    }

    @each $key, $color in $theme-colors {
      > *.sd-background-#{$key}-trans > tr > *,
      > * > tr.sd-background-#{$key}-trans > * {
        background: rgba(theme-color($key), .1) !important;
      }
    }

    > *.sd-background-white-trans > tr > *,
    > * > tr.sd-background-white-trans > * {
      background: rgba(#fff, .1) !important;
    }

    &._hoverable {
      @media screen and (min-width: $m-screen) {
        > tbody:hover > tr > * {
          background: grey(lightest);
        }
      }
    }

    > tbody > tr > * {
      > sd-text-field,
      > sd-select {
        min-width: 100%;
      }
    }

    &._bordered {
      > * > tr > * {
        border-right: 1px solid grey(lighter);
      }
    }

    &._full {
      width: 100%;

      > * > tr > * {
        white-space: normal;
      }
    }

    &._stripe {
      > tbody:nth-child(odd) > tr > td {
        background: grey(lighter);
      }
    }

    &._clickable {
      > tbody > tr > * {
        cursor: pointer;
      }
      > tbody:active > tr > * {
        background: grey(lighter);
      }
    }

    > * > tr > sd-column-selector {
      display: table-cell;
    }

    > * > tr > *.sd-table-control-cell,
    > * > tr > sd-cell,
    > * > tr > sd-cell-text-field,
    > * > tr > sd-cell-button,
    > * > tr > sd-cell-date-picker,
    > * > tr > sd-cell-select {
      display: table-cell;
      vertical-align: top;
      white-space: nowrap;
      padding: padding(xs)-1 padding(xs);
      @media screen and (max-width: $m-screen) {
        padding: m-padding(xs)-1 m-padding(xs);
      }

      &[type=date] {
        padding: padding(xs)-2 padding(xs) padding(xs)-1 padding(xs);
        @media screen and (max-width: $m-screen) {
          padding: m-padding(xs)-2 m-padding(xs) m-padding(xs)-1 m-padding(xs);
        }
      }
    }

    > * > tr > sd-cell-checkbox {
      display: table-cell;
      vertical-align: top;
      text-align: center;
    }

    > * > tr > sd-cell-button > a {
      display: inline-block;
      vertical-align: top;
      @include padding(xs, 0);
    }
  }
}
