sd-sheet {
  $header-bg: get($theme-color, grey, lightest);
  $border-color: get($theme-color, grey, lighter);
  $border-color-dark: get($theme-color, grey, light);

  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  //background: $bg-color;
  background: get($theme-color, grey, lightest);
  z-index: 0;

  border: 1px solid $border-color-dark;

  ._content {
    white-space: nowrap;
    width: fit-content;
    overflow: hidden;
  }

  ._pagination {
    background: $header-bg;
    border-top: 1px solid white;
    padding: $sheet-padding-v $sheet-padding-h;
    border-bottom: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }

  ._head {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    white-space: nowrap;
  }

  ._col-group {
    display: inline-block;
  }

  ._col {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: $sheet-row-height + 1;

    &:focus {
      outline-color: transparent;
    }
  }

  ._head ._col {
    background: $header-bg;
    font-weight: bold;
    text-align: center;
    padding: $sheet-padding-v $sheet-padding-h;
    border-bottom: 1px solid $border-color;
    user-select: none;
    //border-top: 1px solid white;

    > ._border {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 4px;
      border-right: 1px solid $border-color;
    }
  }

  ._body ._col {
    background: white;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    sd-textfield > input {
      border: none;
      padding: $sheet-padding-v $sheet-padding-h;

      &[type=year],
      &[type=month],
      &[type=date],
      &[type=datetime],
      &[type=time],
      &[type=datetime-local] {
        padding: ($sheet-padding-v - 1) $sheet-padding-h;
      }

      &[type=color] {
        height: $sheet-row-height;
      }

      &:disabled {
        background: transparent;
        color: get($text-color, default);
      }
    }

    sd-combobox {
      > ._icon {
        top: 0;
        right: 0;
        width: $sheet-row-height;
        padding: $sheet-padding-v 0;
      }

      > sd-textfield > input {
        padding-right: $sheet-row-height;
      }
    }

    sd-checkbox > label {
      display: inline-block;
      width: auto;
      border: none;
      padding: $sheet-padding-v $sheet-padding-h;

      > input:disabled + ._indicator_rect {
        background: transparent;
      }
    }

    sd-button > button {
      border: none;
      padding: $sheet-padding-v $sheet-padding-h;
      text-align: left;
      border-radius: 0;
    }

    sd-select,
    sd-multi-select {
      > sd-dropdown > div {
        border: none;
        padding: $sheet-padding-v $sheet-padding-h;
        height: $sheet-row-height;
        background: $sheet-edit-cell-bg;
        border-radius: 0;

        > ._icon {
          top: 0;
          right: 0;
          width: $sheet-row-height;
          padding: $sheet-padding-v;
        }
      }

      &[sd-disabled=true] > sd-dropdown > div {
        background: transparent;
        color: get($text-color, default);

        > ._icon {
          display: none;
        }
      }
    }

    > ._focus-indicator {
      display: none;
      position: absolute;
      pointer-events: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //outline: 2px solid get($theme-color, primary, default);
      //outline-offset: -2px;
      outline: 1px solid get($theme-color, primary, default);
      outline-offset: -1px;
      background: rgba(get($theme-color, primary, default), .1);
    }

    &:focus {
      z-index: 3;
    }

    &:focus > ._focus-indicator {
      display: block;
    }
  }

  ._head > ._row > ._col-group:last-child > ._col:last-child > ._border,
  ._body > ._row > ._col-group:last-child > ._col:last-child {
    border-right-color: $border-color-dark;
  }

  ._head > ._row:last-child > ._col-group > ._col {
    border-bottom-color: $border-color-dark;
  }

  ._body > ._row:last-child > ._col-group > ._col {
    border-bottom-color: $border-color-dark;
  }

  ._head ._col._first-col,
  ._body ._col._first-col {
    width: $sheet-row-height;
    text-align: center;
    padding: $sheet-padding-v;

    &._double {
      width: $sheet-row-height * 2;
    }
  }

  ._body ._col._first-col {
    background: $header-bg;
    user-select: none;

    > a {
      display: inline-block;
      padding: $sheet-padding-v;

      &:focus {
        outline: none;
      }
    }

    &._selectable,
    &._expandable {
      padding: 0;
    }

    &._selectable {
      > ._select-icon {
        display: inline-block;
        color: get($theme-color, grey, light);
        transition: .1s ease-in;
      }

      &._selected > ._select-icon {
        color: get($theme-color, primary, default);
        transition: .1s ease-out;
      }
    }

    &._expandable {
      > ._expand-icon {
        display: inline-block;
        color: get($theme-color, grey, light);
        transition: .1s ease-in;
      }

      &._expanded > ._expand-icon {
        color: get($theme-color, primary, default);
        transform: rotate(90deg);
        transition: .1s ease-out;
      }
    }
  }

  ._body > ._row > ._fixed-col-group > ._col:last-child {
    border-right-color: $border-color-dark;
  }

  ._head > ._row > ._fixed-col-group > ._col:last-child > ._border {
    border-right-color: $border-color-dark;
  }

  ._fixed-col-group {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }

  ._row {
    position: relative;
  }

  &[sd-selectable=true] ._body ._first-col {
    cursor: pointer;
  }
}
