sd-pagination {
  display: block;

  > a {
    display: inline-block;
    min-width: font-size() * strip-unit($line-height);
    padding: 0 padding(xs);
    text-align: center;
    cursor: pointer;
    color: theme-color(primary);

    &._selected {
      text-decoration: underline;
    }

    @media screen and (min-width: $m-screen) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}