sd-date-picker {
  > sd-text-field {
    > input {
      padding-left: padding(sm) !important;
      padding-right: padding(sm) !important;

      @media screen and (max-width: $m-screen) {
        padding-left: m-padding(sm) !important;
        padding-right: m-padding(sm) !important;
      }
    }
  }
}