sd-html-editor {
  display: block;
  border: 1px solid get($trans-color, default);

  > sd-dock-container {
    > ._toolbar {
      user-select: none;

      > a {
        display: inline-block;
        padding: get($gap, sm) 0;
        text-align: center;
        width: get($gap, sm) * 2 + strip-unit($line-height) * get($font-size, default);

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }

        &._selected {
          background: get($theme-color, primary, default);
          color: get($text-reverse-color, default);
        }
      }
    }

    > sd-pane {
      > div {
        @include form-control-base();
        height: 100%;

        &[contenteditable="true"] {
          cursor: text;
          background: get($theme-color, info, lightest);
        }
      }

      > textarea {
        @include form-control-base();
        height: 100%;
        background: get($theme-color, info, lightest);
        border: none;
        transition: outline-color 0.1s linear;
        outline: 1px solid transparent;
        outline-offset: -1px;

        &::-webkit-input-placeholder {
          color: get($text-color, lighter);
        }

        &:focus {
          outline-color: get($theme-color, primary, default);
        }
      }
    }
  }

  &[sd-inset="true"] {
    height: 100%;
    border: none;
  }
}
