sd-date-range-picker {
  > ._control {
    display: inline-block;
    @include clearfix();

    > span {
      float: left;
      padding: padding(sm) 0;
      width: 8%;
      text-align: center;
    }
    > sd-date-picker {
      float: left;
      width: 46%;
    }
  }

  > ._helpers {
    display: inline-block;
    vertical-align: top;
  }
}