sd-form {
  display: block;
  overflow: hidden;

  > form > * {
    margin-bottom: get($gap, default);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &[sd-inline=true] {
    vertical-align: middle;

    > form {
      display: inline-block;
      margin-bottom: - get($gap, sm);

      > sd-form-item {
        display: inline-block;
        //margin-bottom: get($gap, sm);
        //margin-right: get($gap, default);
        //
        //&:last-child {
        //  margin-right: 0;
        //}

        > label {
          display: inline-block;
          vertical-align: middle;
          margin-right: get($gap, sm);
          margin-bottom: 0;
        }

        > div {
          display: inline-block;
          vertical-align: middle;

          > sd-checkbox > label {
            display: inline-block;
            width: auto;
          }
        }
      }

      > * {
        margin-bottom: get($gap, sm);
        margin-right: get($gap, default);

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

sd-form-item {
  display: block;
  //margin-bottom: get($gap, default);
  //
  //&:last-child {
  //  margin-bottom: 0;
  //}

  & > label {
    display: block;
    font-weight: bold;
    margin-bottom: get($gap, xs);
  }
}
