// THEME COLOR
$theme: (
  grey: (
    lightest: get($color-grey, 100),
    lighter: get($color-grey, 300),
    light: get($color-grey, 400),
    default: get($color-grey, 500),
    dark: get($color-grey, 600),
    darker: get($color-grey, 700),
    darkest: get($color-grey, 800)
  ),
  blue-grey: (
    lightest: get($color-blue-grey, 200),
    lighter: get($color-blue-grey, 300),
    light: get($color-blue-grey, 400),
    default: get($color-blue-grey, 500),
    dark: get($color-blue-grey, 600),
    darker: get($color-blue-grey, 800),
    darkest: get($color-blue-grey, 900)
  ),
  primary: (
    lightest: get($color-deep-purple, 50),
    lighter: get($color-deep-purple, 100),
    light: get($color-deep-purple, 200),
    default: get($color-deep-purple, 500),
    dark: get($color-deep-purple, 600),
    darker: get($color-deep-purple, 700),
    darkest: get($color-deep-purple, 800)
  ),
  secondary: (
    lightest: get($color-teal, 50),
    lighter: get($color-teal, 100),
    light: get($color-teal, 200),
    default: get($color-teal, 500),
    dark: get($color-teal, 600),
    darker: get($color-teal, 700),
    darkest: get($color-teal, 800)
  ),
  info: (
    lightest: get($color-blue, 50),
    lighter: get($color-blue, 100),
    light: get($color-blue, 200),
    default: get($color-blue, 500),
    dark: get($color-blue, 600),
    darker: get($color-blue, 700),
    darkest: get($color-blue, 800)
  ),
  success: (
    lightest: get($color-green, 50),
    lighter: get($color-green, 100),
    light: get($color-green, 300),
    default: get($color-green, 500),
    dark: get($color-green, 600),
    darker: get($color-green, 700),
    darkest: get($color-green, 800)
  ),
  warning: (
    lightest: get($color-orange, 50),
    lighter: get($color-orange, 100),
    light: get($color-orange, 200),
    default: get($color-orange, 600),
    dark: get($color-orange, 700),
    darker: get($color-orange, 800),
    darkest: get($color-orange, 900)
  ),
  danger: (
    lightest: get($color-red, 50),
    lighter: get($color-red, 100),
    light: get($color-red, 200),
    default: get($color-red, 500),
    dark: get($color-red, 700),
    darker: get($color-red, 800),
    darkest: get($color-red, 900)
  )
) !default;

// TRANSPARENT RGBA COLOR
$trans-brightness: (
  darkest: rgba(0, 0, 0, .5),
  darker: rgba(0, 0, 0, .4),
  dark: rgba(0, 0, 0, .3),
  default: rgba(0, 0, 0, .2)
) !default;


$trans-brightness-rev: (
  default: rgba(255, 255, 255, .1),
  light: rgba(255, 255, 255, .2),
  lighter: rgba(255, 255, 255, .3),
  lightest: rgba(255, 255, 255, .4)
) !default;

// TEXT COLOR
$text-brightness: (
  dark: black,
  default: rgba(0, 0, 0, .87),
  light: rgba(0, 0, 0, .60),
  lighter: rgba(0, 0, 0, .38),
  lightest: rgba(0, 0, 0, .2)
) !default;

$text-brightness-rev: (
  rev-default: white,
  rev-dark: rgba(255, 255, 255, .7),
  rev-darker: rgba(255, 255, 255, .5)
) !default;

// FONT STYLE
$font-size: (
  lg: 14px,
  default: 12px,
  sm: 11px,
  h1: 24px,
  h2: 18px,
  h3: 16px,
  h4: 14px,
  h5: 12px,
  h6: 11px
) !default;

$line-height: 1em !default;
$font-family: '맑은 고딕', 'Malgun Gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid Sans', sans-serif !default;
$font-family-monospace: monospace !default;

// GAP STYLE
$gap: (
  0: 0,
  xxs: 1px,
  xs: 2px,
  sm: 4px,
  default: 6px,
  lg: 8px,
  xl: 12px,
  xxl: 18px
) !default;

// DEFAULT STYLES
$sd-bg-color: get($theme, grey, lightest) !default;
$sd-border-color: get($theme, grey, lighter) !default;
