@use "sass:map";
@use "sass:color";

@use "../commons/variables";

$dark: (
  red: #ca2427,
  pink: #c61e5e,
  purple: #963fbf,
  deep-purple: #7154d1,
  indigo: #5065c9,
  blue: #0d6fcb,
  light-blue: #0075bd,
  cyan: #008090,
  teal: #158173,
  green: #2d8432,
  light-green: #4b8010,
  lime: #737600,
  yellow: #9a6300,
  amber: #ad5400,
  orange: #ba4600,
  deep-orange: #c92b00,
  brown: #87675d,
  grey: #6f6f6f,
  blue-grey: #5e737e,
);

$vars: (
  theme: (
    "grey": (
      lightest: color.adjust(map.get($dark, grey), $lightness: -30%),
      lighter: color.adjust(map.get($dark, grey), $lightness: -20%),
      light: color.adjust(map.get($dark, grey), $lightness: -10%),
      default: map.get($dark, grey),
      dark: color.adjust(map.get($dark, grey), $lightness: 10%),
      darker: color.adjust(map.get($dark, grey), $lightness: 20%),
      darkest: color.adjust(map.get($dark, grey), $lightness: 30%),
    ),
    blue-grey: (
      lightest: color.adjust(map.get($dark, blue-grey), $lightness: -30%),
      lighter: color.adjust(map.get($dark, blue-grey), $lightness: -20%),
      light: color.adjust(map.get($dark, blue-grey), $lightness: -10%),
      default: map.get($dark, blue-grey),
      dark: color.adjust(map.get($dark, blue-grey), $lightness: 10%),
      darker: color.adjust(map.get($dark, blue-grey), $lightness: 20%),
      darkest: color.adjust(map.get($dark, blue-grey), $lightness: 30%),
    ),
    primary: (
      lightest: color.adjust(map.get($dark, blue), $lightness: -30%),
      lighter: color.adjust(map.get($dark, blue), $lightness: -20%),
      light: color.adjust(map.get($dark, blue), $lightness: -10%),
      default: map.get($dark, blue),
      dark: color.adjust(map.get($dark, blue), $lightness: 10%),
      darker: color.adjust(map.get($dark, blue), $lightness: 20%),
      darkest: color.adjust(map.get($dark, blue), $lightness: 30%),
    ),
    secondary: (
      lightest: color.adjust(map.get($dark, light-blue), $lightness: -30%),
      lighter: color.adjust(map.get($dark, light-blue), $lightness: -20%),
      light: color.adjust(map.get($dark, light-blue), $lightness: -10%),
      default: map.get($dark, light-blue),
      dark: color.adjust(map.get($dark, light-blue), $lightness: 10%),
      darker: color.adjust(map.get($dark, light-blue), $lightness: 20%),
      darkest: color.adjust(map.get($dark, light-blue), $lightness: 30%),
    ),
    info: (
      lightest: color.adjust(map.get($dark, cyan), $lightness: -30%),
      lighter: color.adjust(map.get($dark, cyan), $lightness: -20%),
      light: color.adjust(map.get($dark, cyan), $lightness: -10%),
      default: map.get($dark, cyan),
      dark: color.adjust(map.get($dark, cyan), $lightness: 10%),
      darker: color.adjust(map.get($dark, cyan), $lightness: 20%),
      darkest: color.adjust(map.get($dark, cyan), $lightness: 30%),
    ),
    success: (
      lightest: color.adjust(map.get($dark, green), $lightness: -30%),
      lighter: color.adjust(map.get($dark, green), $lightness: -20%),
      light: color.adjust(map.get($dark, green), $lightness: -10%),
      default: map.get($dark, green),
      dark: color.adjust(map.get($dark, green), $lightness: 10%),
      darker: color.adjust(map.get($dark, green), $lightness: 20%),
      darkest: color.adjust(map.get($dark, green), $lightness: 30%),
    ),
    warning: (
      lightest: color.adjust(map.get($dark, orange), $lightness: -30%),
      lighter: color.adjust(map.get($dark, orange), $lightness: -20%),
      light: color.adjust(map.get($dark, orange), $lightness: -10%),
      default: map.get($dark, orange),
      dark: color.adjust(map.get($dark, orange), $lightness: 10%),
      darker: color.adjust(map.get($dark, orange), $lightness: 20%),
      darkest: color.adjust(map.get($dark, orange), $lightness: 30%),
    ),
    danger: (
      lightest: color.adjust(map.get($dark, red), $lightness: -30%),
      lighter: color.adjust(map.get($dark, red), $lightness: -20%),
      light: color.adjust(map.get($dark, red), $lightness: -10%),
      default: map.get($dark, red),
      dark: color.adjust(map.get($dark, red), $lightness: 10%),
      darker: color.adjust(map.get($dark, red), $lightness: 20%),
      darkest: color.adjust(map.get($dark, red), $lightness: 30%),
    ),
  ),
  trans: (
    darkest: rgba(255, 255, 255, 0.5),
    darker: rgba(255, 255, 255, 0.4),
    dark: rgba(255, 255, 255, 0.3),
    default: rgba(255, 255, 255, 0.2),
    light: rgba(255, 255, 255, 0.1),
    lighter: rgba(255, 255, 255, 0.03),
    rev-default: rgba(0, 0, 0, 0.1),
    rev-light: rgba(0, 0, 0, 0.2),
    rev-lighter: rgba(0, 0, 0, 0.3),
    rev-lightest: rgba(0, 0, 0, 0.4),
  ),
  text-trans: (
    dark: white,
    default: rgba(255, 255, 255, 0.87),
    light: rgba(255, 255, 255, 0.6),
    lighter: rgba(255, 255, 255, 0.38),
    lightest: rgba(255, 255, 255, 0.2),
    rev-default: black,
    rev-dark: rgba(0, 0, 0, 0.7),
    rev-darker: rgba(0, 0, 0, 0.5),
  ),
  border-color: (
    lighter: var(--theme-grey-lightest),
    light: var(--theme-grey-lighter),
    default: var(--theme-grey-light),
    dark: var(--theme-grey-default),
    darker: var(--theme-grey-dark),
  ),
  background-color: black,
  background-rev-color: white,
  control-color: black,
  // var(--theme-grey-lighter),
  sheet: (
      bg: var(--theme-grey-lightest),
    ),
);
