@use "sass:map";

@use "../commons/variables";

$vars: (
  theme: (
    "grey": (
      lightest: var(--color-grey-300),
      lighter: var(--color-grey-400),
      light: var(--color-grey-500),
      default: var(--color-grey-600),
      dark: var(--color-grey-700),
      darker: var(--color-grey-800),
      darkest: var(--color-grey-900),
    ),
    blue-grey: (
      lightest: var(--color-blue-grey-100),
      lighter: var(--color-blue-grey-300),
      light: var(--color-blue-grey-400),
      default: var(--color-blue-grey-500),
      dark: var(--color-blue-grey-600),
      darker: var(--color-blue-grey-800),
      darkest: var(--color-blue-grey-900),
    ),
    primary: (
      lightest: var(--color-light-blue-50),
      lighter: var(--color-light-blue-100),
      light: var(--color-light-blue-200),
      default: var(--color-light-blue-500),
      dark: var(--color-light-blue-600),
      darker: var(--color-light-blue-700),
      darkest: var(--color-light-blue-800),
    ),
    secondary: (
      lightest: var(--color-blue-50),
      lighter: var(--color-blue-100),
      light: var(--color-blue-200),
      default: var(--color-blue-500),
      dark: var(--color-blue-600),
      darker: var(--color-blue-700),
      darkest: var(--color-blue-800),
    ),
    info: (
      lightest: var(--color-cyan-50),
      lighter: var(--color-cyan-100),
      light: var(--color-cyan-200),
      default: var(--color-cyan-500),
      dark: var(--color-cyan-600),
      darker: var(--color-cyan-700),
      darkest: var(--color-cyan-800),
    ),
    success: (
      lightest: var(--color-light-green-50),
      lighter: var(--color-light-green-100),
      light: var(--color-light-green-300),
      default: var(--color-light-green-500),
      dark: var(--color-light-green-600),
      darker: var(--color-light-green-700),
      darkest: var(--color-light-green-800),
    ),
    warning: (
      lightest: var(--color-orange-50),
      lighter: var(--color-orange-100),
      light: var(--color-orange-200),
      default: var(--color-orange-600),
      dark: var(--color-orange-700),
      darker: var(--color-orange-800),
      darkest: var(--color-orange-900),
    ),
    danger: (
      lightest: var(--color-red-50),
      lighter: var(--color-red-100),
      light: var(--color-red-200),
      default: var(--color-red-500),
      dark: var(--color-red-700),
      darker: var(--color-red-800),
      darkest: var(--color-red-900),
    ),
  ),
  trans: (
    darkest: rgba(0, 0, 0, 0.7),
    darker: rgba(0, 0, 0, 0.6),
    dark: rgba(0, 0, 0, 0.5),
    default: rgba(0, 0, 0, 0.4),
    light: rgba(0, 0, 0, 0.3),
    lighter: rgba(0, 0, 0, 0.2),
    lightest: rgba(0, 0, 0, 0.1),
    rev-default: rgba(255, 255, 255, 0.1),
    rev-light: rgba(255, 255, 255, 0.2),
    rev-lighter: rgba(255, 255, 255, 0.3),
    rev-lightest: rgba(255, 255, 255, 0.4),
  ),
  gap: (
    xxs: 4px,
    xs: 6px,
    sm: 8px,
    default: 14px,
    lg: 18px,
    xl: 24px,
    xxl: 32px,
    0: 0,
    auto: "auto",
  ),
  font-size: (
    lg: 18px,
    default: 16px,
    sm: 14px,
    h1: 48px,
    h2: 32px,
    h3: 24px,
    h4: 18px,
    h5: 16px,
    h6: 14px,
  ),
  background-color: var(--theme-grey-lightest),
  border-color: (
    lighter: var(--theme-grey-lightest),
    light: var(--theme-grey-lighter),
    default: var(--theme-grey-light),
    dark: var(--theme-grey-default),
    darker: var(--theme-grey-dark),
  ),
  sidebar: (
    width: 240px,
  ),
  topbar: (
    height: 48px,
  ),
  /*text-trans: (
    dark: black,
    default: rgba(0, 0, 0, .87),
    light: rgba(0, 0, 0, .60),
    lighter: rgba(0, 0, 0, .38),
    lightest: rgba(0, 0, 0, .2),
    rev-default: rgba(255, 255, 255, .7),
    rev-dark: rgba(255, 255, 255, .5),
    rev-darker: rgba(255, 255, 255, .3),
  ),*/
    //font-family: "'Pretendard Variable', sans-serif",
  animation-duration: 0.3s,
  elevation-size: 4px,

  border-radius: (
    xs: var(--gap-xxs),
    sm: var(--gap-xs),
    default: var(--gap-sm),
    lg: var(--gap-default),
    xl: var(--gap-lg),
    xxl: var(--gap-xl),
  ),
  sheet: (
    pv: var(--gap-xs),
    ph: var(--gap-sm),
    bg: var(--color-grey-200),
  ),
);
