._sd-toast-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
  padding: gap(lg);
  z-index: $z-index-toast;

  > ._sd-toast {
    display: block;
    margin-bottom: gap(sm);
    animation: _sd-toast-show .1s ease-out forwards;
    transform: translateX(-100%);
    border-radius: 2px;
    opacity: .9;

    > ._sd-toast-message {
      display: inline-block;
      padding: gap(sm) gap(default);
    }

    > ._sd-toast-progress {
      background: get($theme-color, grey, default);
      height: 4px;
      border-radius: 2px;

      > ._sd-toast-progress-bar {
        height: 4px;
        transition: width 1s ease-out;
      }
    }

    @each $key, $val in $theme-color {
      &._sd-toast-#{$key} {
        background: theme-color($key, default);

        > ._sd-toast-progress {
          > ._sd-toast-progress-bar {
            background: theme-color($key, default);
          }
        }
      }
    }
  }
}

@keyframes _sd-toast-show {
  from {
    $left-calc: calc(gap(lg) - 100%);
    transform: translateX($left-calc);
  }
  to {
    transform: none;
  }
}