/* 
 * D2 coding (Korean) http://dev.naver.com/projects/d2coding/
 */
@font-face {
  font-family: "D2 coding";
  font-style: normal;
  font-weight: 400;
  src: url("d2coding/D2Coding.eot");
  src: local("※"), local("D2Coding"), url("d2coding/D2Coding.eot?#iefix") format("embedded-opentype"),
    url("d2coding/D2Coding.woff2") format("x-woff2"), url("d2coding/D2Coding.woff") format("woff"),
    url("d2coding/D2Coding.ttf") format("truetype"), url("d2coding/D2Coding.svg") format("svg");
}
@font-face {
  font-family: "D2 coding";
  font-style: normal;
  font-weight: 700;
  src: url("d2coding/D2CodingBold.eot");
  src: local("※"), local("D2Coding Bold"), url("d2coding/D2CodingBold.eot?#iefix") format("embedded-opentype"),
    url("d2coding/D2CodingBold.woff2") format("x-woff2"), url("d2coding/D2CodingBold.woff") format("woff"),
    url("d2coding/D2CodingBold.ttf") format("truetype"), url("d2coding/D2CodingBold.svg") format("svg");
}
